
<template>

   
  <div class="view-profile container">
    <div v-if="profile" class="card">

<h1>TEST INTERNE USER</h1>
        <h2>{{user}}</h2>
        <h2>{{user.alias}}</h2>

        <h1>TEST OTHER USERS</h1>
              <h2>{{profile}}</h2>

<router-link :to="{ name: 'Profile', params: { id: user.alias } }"> My Profile </router-link>      
      
          

            
    </div>
  </div>
</template>


<script>
import firebase from 'firebase'
import db from '@/firebase/init'

export default {
    name: 'Profile',
    data(){
        return{
         // store user data
          profile : null ,   
          user:null,   
          id: null,  
        }
    },
    created(){
      
   let ref = db.collection('users')
    // current user
    ref.where('user_id', '==', firebase.auth().currentUser.uid).get()
    .then(snapshot => {
      snapshot.forEach(doc => {
        this.user = doc.data()
        this.user.id = doc.id
      })
    })
    // profile data
    ref.doc(this.$route.params.id).get()
    .then(user => {
      this.profile = user.data()
    })
    // comments
   
    
  },
    method:{

    },
    mounted(){
        console.log(firebase.auth().currentUser)
        setTimeout(()=> {
           console.log(firebase.auth().currentUser) 
        }, 2000)
        
        
    }
    
}
</script>

<style>

</style>

