.ctf_line{width:100%; text-align:left; }
.ctf_char{padding:3px; text-align:center; float:left; }
.ctf_pinyin{color:#090; font-size:11px; }
.ctf_cn{color:#009; font-size:14px; text-decoration:none; margin:3px; }

.ctanno_result{margin:20px 0px 50px 0px; width: 715px}

#divPopup{border: 1px solid #1A40B0; background-color:#FFFDDD; padding:5px; z-index:100; visibility: hidden; width:200px; position: absolute;}
.ppPinyin{text-align:center; font-size:13px; color:#090}
.ppCn{text-align:center; font-size:25px; color:#009; margin:5px 0px}
.ppDef{text-align:left; font-size:12px; color:#000;}
.ppDefLine{margin:5px 0px}
.ppDefType{font-size:11px; color:#999;}
.ppDefPinyin{font-size:12px; color:#090; text-align:center; margin:10px 0px 0px 0px}