#body .box{background-color:#F2F2F2; }
.boxtl{background:no-repeat top left url("../misc/corner_tl.gif"); }
.boxtr{background:no-repeat top right url("../misc/corner_tr.gif"); }
.boxbl{background:no-repeat bottom left url("../misc/corner_bl.gif"); }
.boxbr{background:no-repeat bottom right url("../misc/corner_br.gif"); }
.boxin{padding:10px 15px 15px 15px; }

#body .box2{background-color:#FAEECE; }
.box2tl{background:no-repeat top left url("../misc/corner2_tl.gif"); }
.box2tr{background:no-repeat top right url("../misc/corner2_tr.gif"); }
.box2bl{background:no-repeat bottom left url("../misc/corner2_bl.gif"); }
.box2br{background:no-repeat bottom right url("../misc/corner2_br.gif"); }
.box2in{padding:10px; text-align:center; color:#0033CC; font-size:13px; }
.box2inA{color:#0033CC; }

.boxTitle{color:#0044BB; font-size:14px; font-weight:bold; border-bottom:1px dashed #C8C8C8; margin:5px; padding: 5px; }
.boxTitle2{color:#000; font-size:12px; font-weight:bold; border-bottom:1px dashed #C8C8C8; margin:5px; padding: 5px; }
.boxSubtitle{text-align:right; color:#000; font-size:11px; font-weight:bold; border-top:1px dashed #C8C8C8; margin:10px 5px 0 5px; padding: 5px; }
.boxSubtitleA{color:#000}

.articleText { text-align:justify; font-size:12px;}
.articleRight {float:right; padding:0px 0px 10px 10px; background-color:#fff;}
.articleImage {border:1px solid #000; margin:0px}
.articleComment {color:#555; font-style:italic; font-size:12px; text-align:justify; margin:3px 0px 10px 0px}

/* JTAG SEARCH */
.searchBox1 { background-color:#F7FBFF; border-top: 1px solid #DEEBF7; border-bottom:1px dashed #B5CFE7; text-align:center }
.searchBox2 { background-color:#EFF7FF; border-bottom: 1px solid #DEEBF7; text-align:center; padding:3px 3px}
.searchResult { margin:10px 5px 0px 5px; }
.searchResultTitle { color:#0000CE; font-size:12px }
.searchResultDescription { color:#000000; font-size:11px }
.searchResultUrl { color:#008200; font-size:11px }
.searchPages { margin:15px 0px; }

.si_stats{background-color:#E7EFFF; border-top:1px solid #3165CE; margin:10px 0px; padding:3px; text-align:right}
.si_pages{margin:10px; text-align:center}
.si_result{margin:10px 0px;}
.si_titleLink{font-size:13px; color:blue;}
.si_urlLink{color:green; text-decoration:none;}

/* JTAG RSS */
.rssItem {border-bottom: 1px dashed #aaa; margin: 5 5; padding: 3 0 8 0 }
.rssTitle {color:#004DCE; font-weight: bold}
.rssDate {color:#999999}
.rssDescription {}

/* JTAG FORM  */
.formFieldName { width:80px; padding:5px }
.formFieldNameTextarea  { padding:5px }
.formTypeTitle { font-weight: bold; padding: 5px }
.formTypeText { width:182px; font-size:12px }
.formTypeTextarea { width:262px; font-size:12px }
.formTypeSelect { }
.formTypeCheckbox { }
.formTypeRadio { }
.formTypeSubmit { font-size:11px }
.formBox {width:230px; background-color:#CEDBE7; border-top:1px solid #94BEE7; border-left:1px solid #94BEE7; border-right:1px solid #888; border-bottom:1px solid #888; margin:10px 10px; padding:10px 10px; }
.formTypeCaptcha{width:182px; }
.formCaptcha{width:180px; height:19px; border:1px solid #7F9DB9; margin:5px 0; }

/* JTAG CHINESETOOLS */
.ctdico_form{font-family: Arial: font-size:13px; border: 1px solid #CECFCE; padding: 6px 6px; height:30px}
.ctdico_message {font-weight: bold; margin: 10px 0; text-align:center }
.ctdico_intro { margin: 20px; text-align:left }
.ctdico_error { margin: 20px; text-align:center; font-weight:bold; }
.ctdico_entry{margin: 3px 0; padding: 3px; background-color:#fff; border-bottom:1px dashed #ddd;}
.ctdico_entryAlt{margin: 3px 0; padding: 3px; background-color:#fff; border-bottom:1px dashed #ddd;}
.ctdico_calligraphy{width:15px; }
.ctdico_char{width:100px; font-size:14px; color:#090; padding:0 0 0 10px; }
.ctdico_charu{color:#090; padding:0 1px; text-decoration:none}
.ctdico_audio{width:25px; }
.ctdico_pinyin{width:120px; color:#900}
.ctdico_type{width:60px; color:#999}
.ctdico_def{width:300px; color:#009}
.ctdico_deflink{color:#009; text-decoration: none; }
.ctdico_deflink:hover{text-decoration: underline; }
.ctdico_cnB{ text-align:center; margin:20px 0; }
.ctdico_cnBborder{}
.ctdico_cnBchar{ font-size:30px; color:#000; }
.ctdico_cnBpinyin{ color:#000; }
.ctdico_cnBtitle{ text-align:center; margin:40px 0 20px 0; font-size:15px; }
.ctdico_ib{width:20px}

.ctcrImg60{margin:10px 0; }

.ctanno_text{ margin:0px 0px 20px 0px;}
.ctanno_tchinese {font-size:14px; border-bottom:0px solid #ddd; text-decoration: none; margin:3px}
.ctanno_tnumber {font-size:9px; color:#080; font-weight:normal; font-family: verdana; vertical-align:super; margin: 0px 3px 0px 1px}
.ctanno_vocabulary{margin:0px 0px 25px 0px; text-align:left}
.ctanno_vnumber {font-size:10px; color:#080; font-weight:bold; font-family: verdana; margin:0px 3px 0px 0px}
.ctanno_vchinese {color:#008; font-size:14px; margin:0px}
.ctanno_vpinyin {color:#800; font-size:11px; margin:0px 5px 0px 0px}
.ctanno_vdef {color:#aaa; font-style:normal; font-size:12px; margin:0px 10px 0px 0px}

.pinyinBlock {clear:both; margin:30px 0; overflow:hidden; }
.pinyinWord {margin:2px; padding:2px; text-align:center; float:left; }
.pinyinPinyin {font-size:13px; color:#888; margin-bottom:3px; }
.pinyinChinese {font-size:15px; color:#008; }
.pinyinLinePinyin {font-size:13px; color:#888; margin-bottom:8px; }
.pinyinLineChinese {font-size:15px; color:#008; }

.ctzodiac_sign { font-size:15px; color:#080;}

.ctname_letter { font-size:15px; font-weight:bold; margin: 10 0 0 0}
.ctname_name {}
.ctname_latin {color:#009; font-family:arial; font-size:13px}
.ctname_cn {color:#090; font-family:arial; font-size:13px; margin:0 5}
.ctname_pinyin{color:#555; font-family:arial; font-size:13px}

.ctcalliname_line {font-size:13px; font-family:arial; }
.ctcalliname_key {color:#009; font-weight:bold; }
.ctcalliname_value {}
.ctcalliname_imagediv {margin:0 10px 0 0; float:left;}
.ctcalliname_image {border:1px solid #000;}

.ctbirth_girl{color:#FF41AC; font-weight:bold; margin:10px 0px 0px 0px; text-align:center; }
.ctbirth_boy{color:#4177FF; font-weight:bold; margin:10px 0px 0px 0px; text-align:center;}

.learnH2{background-color:#C84444; color:#fff; font-size:12px; font-weight:bold; font-variant:small-caps; padding:2 5; margin: 30 0 10 0}
.learnH3{background-color:#eee;font-size:11px; font-weight:bold; padding:2 5; margin: 12 0 8 0; border:1px solid #ddd}
.learnVChinese{color:#090; vertical-align:top}
.learnVPinyin{color:#000; vertical-align:top;}
.learnVType{color:#999; vertical-align:top; font-size:10px;}
.learnVDef{color:#000; font-style:italic; vertical-align:top;}
.learnP{width:100%}
.learnConv{font-size:12px; margin:5 0}
.learnPCLine{font-size:12px;}
.learnPCInterline{height:10px}
.learnPCMark{width:20px; text-align:center}
.learnPCWord{float:left; font-size:12px; color:#000; text-align:center; margin: 0 10 0 0;}
.learnPCChinese{color:#999; font-size:14px; margin: 3 0 0 0}
.learnPCPinyin{color:#000; font-size:12px}
.learnIndexBorder{width:200px; border-left: 1px solid #ECE9D8; border-top: 1px solid #ECE9D8; border-right: 1px solid #ACA899; border-bottom: 1px solid #ACA899; padding: 10; margin: 0 0 20 0; background-color: #fff; text-align:left}
.learnRBorder{float:right; width:300px; border-left: 1px solid #ECE9D8; border-top: 1px solid #ECE9D8; border-right: 1px solid #ACA899; border-bottom: 1px solid #ACA899; padding: 5; margin: 0 0 0 5; background-color: #FFFFE0;}
ul{margin:0 5; padding:0 0 0 10}
.learnRBorder2{float:right; width:300px; border-left: 1px solid #ECE9D8; border-top: 1px solid #ECE9D8; border-right: 1px solid #ACA899; border-bottom: 1px solid #ACA899; padding: 5; margin: 0 0 0 5; background-color: #E0E0FF;}
ul{margin:0 5; padding:0 0 0 10}
.learnTransLine{padding:3 0}
.learnTransLitt{color:#aaa; font-style:italic}
.learnExLine{padding:3 0}
.learnExInfo{color:#aaa; font-style:italic}
.learnExBox{padding:0 4; margin:0; border-bottom:1px solid  #6B7DCE; background-color:#fff}
.learnSubstitution{padding:0 3; margin:0; border:1px solid #666; background-color:#fff}
.learnLi{padding:0 0 10 0}


/* JTAG FORUM */
#forumFORM { background:#fff; float:right; width:200px; margin:auto; padding: 0px 0px 10px 10px; }
#forumBORDER { background-color:#CEDBE7; border-top:1px solid #94BEE7; border-left:1px solid #94BEE7; border-right:1px solid #555; border-bottom:1px solid #555; margin:0; padding: 5px; }
#forumBORDER input { font-size:11px; font-family:arial; }
#forumBORDER textarea { font-size:11px; font-family:arial; }
.fname {}
.femail {}
.ftext {width:176px; }
.fcaptcha {width:180px; height:19px; border:1px solid #7F9DB9; }
.fcode {}
.fsubmit {width:182px; }
#forumPAGES { background-color:#FBFBFB; border-top:1px solid #EFF5ED; border-bottom:1px solid #EFF5ED; margin: 0 0 10px 0; padding: 5px 0 5px 10px; }
#forumMESSAGES { background:#fff; margin: auto; }
.forumMESSAGE { border-bottom:1px dashed #CCC; margin:auto; padding: 6px 3px; }
.forumNAME { color: #008; font-weight: bold; }
.forumDATE { color: #aaa; }
.forumFormText { font-family: Arial; font-size: 11px; width:100% }
.forumFormButton { font-family: Arial; font-size: 11px; width:100% }