#ccpage {float:left; width:420px; padding-right:10px; overflow:hidden; }
	#ccpage h1 {font-size: 14px; }
	#ccpage h2 {font-size: 12px; }
	#ccpage p {text-align:justify; }

	#page .sub {color:#999; margin:5px 0; font-weight:normal; }
	#page .sub a {color:#444; margin:0 2px; }
	#page .sub a:hover {color:#FF8800; margin:0 2px; }

#signature {margin:10px 0 20px 0; text-align:right; font-style:italic; }

#ccpage .cchopage {border-bottom:1px #CCC dotted; margin:0 0 30px 0; padding:0 0 10px 0; } 
	#ccpage .title {color:#999; margin:5px 0; }
		#ccpage .title a {color:#3333CC; font-size:20px; font-weight:bold; font-family:helvetica; text-decoration:none; }
		#ccpage .title a:hover {text-decoration:underline; }
	#ccpage .body {margin:10px 0; text-align:justify; }
	#ccpage .more {margin:10px; text-align:right; font-weight:bold; }
		#ccpage .more a {color:#C00; }

#ccinfos {float:right; width:200px; padding:0; margin:0; overflow:hidden; }
	#ccinfos h1 {font-size: 12px; margin:0 0 5px 0; padding:0px; }
	#ccinfos ul {margin:0; padding:0; list-style:url("../../images/2008/li1.png"); }
	#ccinfos li {margin:3px 0; }
	#ccinfos .block {padding:10px; margin:0px; border:1px solid #D1D6E6; background:url("../../images/2008/bdbody-04.gif") no-repeat 1px 0px #FBFBFB; clear:both; overflow:hidden; }
	#ccinfos .adsense {margin: 5px 0 15px 0; overflow:hidden; }

.ccpages{text-align:center; padding-top:3px; margin-bottom:20px; clear:both; }
	.ccpages ul {display:inline; padding:0px; margin:0px; }
	.ccpages li {display:inline;list-style:none; text-align:center; margin:2px; }
	.ccpages li a {color:#999; font-weight: 100; font-size: .8em; text-decoration: none; border: 1px #ccc solid; padding:3px 6px 3px 6px; }
	.ccpages li a.last {border:2px #ccc solid;}
	.ccpages li a:hover {background-color: #0098D4; color: #fff; font-weight: bold; border:1px #000 solid;}
	.ccpages li a.last:hover {border:2px #000 solid;}
	.ccpages .current {font-weight: bold; font-size: .8em; text-decoration: none; padding-left:2px; padding-right:2px;}
	.ccpages .next a, .ccpages .previous a {border: 1px #fff solid; padding: 3px 6px 3px 6px;  }
	.ccpages .next a:hover, .ccpages .previous a:hover, .ccpages .home a:hover {font-weight:normal;}

#prevnext {clear:both; overflow:hidden; padding:0px; margin:0px; }
	#prevnext .next {float:left; width:130px; margin:20px 0 10px 20px; padding:0 0 0 50px; background:url("https://www.chinese-tools.com/jdd/public/documents/misc/ccleft.gif") no-repeat left top; text-align:right; }
	#prevnext .prev {float:right; width:130px; margin:20px 20px 20px 0; padding:0 50px 0 0; background:url("https://www.chinese-tools.com/jdd/public/documents/misc/ccright.gif") no-repeat right top; }
	#prevnext ul {clear: both; margin:0; padding:0; overflow:hidden; }
	#prevnext li {display:inline; float:left; width:126px; margin:0; padding:2px; overflow:hidden; }
	#prevnext .ccImg {border:1px solid #D0D1CF; background-color:#fff; width:120px; height:80px; padding:2px; }
	#prevnext .ccImg img {margin:0; padding:0; width:120px; height:80px; }
	#prevnext .ccTitle {margin:5px 0 0 0; font-size:11px; }
	#prevnext a {text-decoration:none; color:#009; font-weight:normal; }
	#prevnext a:hover {text-decoration:underline; color:#c00; }

.prevnexttop {clear:both; overflow:hidden; font-size:11px; border:1px #CCC dotted; background-color:#FAFAFA; padding:5px; }
	.prevnexttop a {color:#0000CC; }
	.prevnexttop .next {width:180px; float:left; text-align:right; padding-left:10px; }
	.prevnexttop .prev {width:180px; float:right; text-align:left; padding-right:10px; }
	

#related {clear:both; overflow:hidden; padding:10px 15px; margin:0px; border:1px solid #D1D6E6; background:url("../../images/2008/bdbody-04.gif") no-repeat 1px 0px; }
	#related h1 {font-size: 12px; margin:5px 0 15px 0; padding:8px 0 8px 45px; background:url("https://www.chinese-tools.com/jdd/public/documents/misc/ccsearch.gif") no-repeat; }
	#related ul {clear:both; margin:0; padding:0; overflow:hidden; }
	#related li {display:inline; float:left; width:86px; overflow:hidden; }
	#related .liA {padding:0 0 10px 0;}
	#related .liB {padding:0 0 10px 14px;}
	#related .ccImg {border:1px solid #D0D1CF; background-color:#fff; width:80px; height:53px; padding:2px; }
	#related .ccImg img {margin:0; padding:0; width:80px; height:53px; }
	#related .ccTitle {margin:5px 0 0 0; font-size:10px; }
	#related a {text-decoration:none; color:#009; font-weight:normal; }
	#related a:hover {text-decoration:underline; color:#c00; }

#last {padding:10px; margin:0px; border:1px solid #D1D6E6; background:url("../../images/2008/bdbody-04.gif") no-repeat 1px 0px #FBFBFB; clear:both; overflow:hidden; }
	#last ul {clear: both; padding:0px; margin:0px; overflow:hidden; }
	#last li {display:inline; float:left; width:86px; overflow:hidden; text-align:left; }
	#last .liA {padding:0 0 5px 0;}
	#last .liB {padding:0 0 5px 5px;}
	#last .ccImg {border:1px solid #D0D1CF; background-color:#fff; width:80px; height:53px; padding:2px; }
	#last .ccImg img {margin:0; padding:0; width:80px; height:53px; }
	#last .ccTitle {margin:5px 0 0 0; font-size:10px; }
	#last a {text-decoration:none; color:#00c; font-weight:normal; }
	#last a:hover {text-decoration:underline; color:#c00; }

#cloud {text-align:center; clear:both; padding:35px 0 0 0; background:url("https://www.chinese-tools.com/jdd/public/documents/misc/ccsearch.gif") no-repeat; }
	#cloud a {text-decoration:none; margin: 2px; }
	#cloud .c1{font-size:11px; color:#B7B7F5; }
	#cloud .c2{font-size:13px; color:#9292F0; }
	#cloud .c3{font-size:15px; color:#6D6DE7; }
	#cloud .c4{font-size:16px; color:#4747DF; }
	#cloud .c5{font-size:17px; color:#1F1FD5; }
	#cloud .c6{font-size:18px; color:#00C; }
	#cloud .c7{font-size:19px; color:#00C; }

#tag{}
	#tag ul {clear:both; margin:0px; padding:0px; overflow:hidden; }
	#tag li {display:inline; float:left; width:126px; overflow:hidden; }
	#tag .liA {padding:0 0 20px 0;}
	#tag .liB {padding:0 0 20px 20px;}
	#tag .ccImg {border:1px solid #D0D1CF; background-color:#fff; padding:2px; width:120px; height:80px;}
	#tag .ccImg a {margin:0; padding:0; }
	#tag .ccImg img {margin:0; padding:0; width:120px; height:80px; }
	#tag .ccTitle {margin:5px 0 0 0; font-size:10px; }
	#tag a {text-decoration:none; color:#009; font-weight:normal; }
	#tag a:hover {text-decoration:underline; color:#c00; }