.crP1{margin:20px 0px; height:150px; }
.crP1Char {float:left; margin:0px 20px 10px 0px; }
.crP1Inf {margin:10px}
.crP1T1 {font-weight:bold; color:#5599FF; padding:3px 10px; vertical-align:top; }
.crP1T2 {font-size:13px; font-family;Arial; vertical-align:top; padding:3px; }
.crP1T2Pinyin {font-weight:bold; }
.crP1T2Def {}
.crP1T2DefLine {}
.crP1T2DefPinyin {text-decoration:underline; }
.crP1T2DefType {color:#aaa; font-style:italic; }

.crP2B{border:1px solid #ccc; background-color:#EFEFEF; font-weight:bold; padding:0px; margin:15px 10px 0px 0px; width:100px; }
.crP2BC1{height:25px; border-right:1px solid #ccc; width:5px; background-color:#FFCC00; float:left}
.crP2BC2{height:25px; border-right:1px solid #ccc; width:5px; background-color:#000088; float:left}
.crP2BC3{height:25px; border-right:1px solid #ccc; width:5px; background-color:#008000; float:left}
.crP2BC4{height:25px; border-right:1px solid #ccc; width:5px; background-color:#CC0000; float:left}
.crP2BCn{height:25px; padding:4px 5px 0px 5px; font-size:18px; }
.crP2TC1{font-size:15px; color:#FFCC00; font-weight:bold; padding:4px 0px; margin:15px 0px 10px 0px; }
.crP2TC2{font-size:15px; color:#000088; font-weight:bold; padding:4px 0px; margin:15px 0px 10px 0px; }
.crP2TC3{font-size:15px; color:#008000; font-weight:bold; padding:4px 0px; margin:15px 0px 10px 0px; }
.crP2TC4{font-size:15px; color:#CC0000; font-weight:bold; padding:4px 0px; margin:15px 0px 10px 0px; }
.crP2T2Cn{padding:2px 10px; width:60px}
.crP2T2Type{color:#aaa; }
.crP2T2Pinyin{padding:0px 10px; color:#090; width:100px}
.crP2T2Def{padding:0px;}

.crMenuLesson{font-size:18px; margin:8px 0px 0px 27px}
.crMenuLetter{margin:10px 0px; font-weight:bold; font-size:15px; }
.crMenuChar{margin:5px;}
.crMenuCharCn{font-size:15px; margin:0px 20px 0px 0px}
.crMenuCharCnLink{text-decoration:none; }
.crMenuCharPinyin{font-size:13px;}