.cyChengyu{text-align:center; margin:20px}
.cyChengyuChar{margin:5px; width:55px}
.cyChengyuPinyin{color:#090; font-size:15px; font-weight:bold; margin:5px 0px}
.cyChengyuCn {clear:both; font-size: 28pt; margin:0px 2px 10px 0px; padding:0px; width:45px; height:45px; text-align:center; background: url("https://www.chinese-tools.com/jdd/public/documents/charbg.gif") repeat top; line-height:45px; }

.cyExpH{font-size:15px; font-weight:bold; color:#C00; margin:0px 0px 5px 0px; }
.cyBox{border:1px solid #D2E4FC; background-color:#F0F6FF; padding:7px}
.cyBoxCn{border:1px solid #D2E4FC; background-color:#F0F6FF; padding:7px; font-size:15px; }
.cyGushi{padding:20px; margin:5px 0px 0px 0px; border:1px solid #efefef; background-color:#fefefe}

/* DICTIONARY */
.ctCyCalli{text-align:center; margin:20px;}
.ctCyB{border:1px #ccc solid; padding:0px; width:5px; margin:0 0 20px 0;}
.ctCyT{border:1px #ccc solid; background-color:#fafafa; height:32px; font-size:15px; font-weight:bold; padding:6px 8px; }
.ctCyC{padding:8px; font-size:13px; }
.ctCyInfoH{font-size:12px; font-weight:bold; color:#000088; margin:0; }
.ctCyInfoB{font-size:14px; margin:5px 0 10px 0; }
.ctCyB1{background-color:#FFCC00; width:5px; height:30px; } .ctCyT1{color:#FFCC00; } .ctCyC1{font-size:16px; }
.ctCyB2{background-color:#000088; width:5px; height:30px; } .ctCyT2{color:#000088; } .ctCyC2{font-weight:bold; }
.ctCyB3{background-color:#CC0000; width:5px; height:30px; } .ctCyT3{color:#CC0000; } .ctCyC3{font-weight:bold; }
.ctCyB4{background-color:#008000; width:5px; height:30px; } .ctCyT4{color:#008000; } .ctCyC4{}

.ctCyR{}
.ctCyRCn{color:#008; font-size:16px; font-weight:bold; }
.ctCyRPinyin{color:#080; font-size:12px; }
.ctCyRDef{color:#000; font-size:12px; }
.ctCyRMore{text-align:right; margin: 10px 0 0 0; }
.ctCyRMoreA{color:#008; font-size:11px; font-weight:bold; }

.ctCySInfo{text-align:center; font-weight:bold; margin:20px 0 10px 0;}
.ctCyLetter{width:650px; background-color:#fafafa; padding:1px; text-align:center; margin:30px 0 5px 0; font-size:15px; color:#888; font-weight:bold; font-variant:small-caps; }
.ctCyPinyins{width:650px;}
.ctCyPinyin{margin:10px; float:left; }
.ctCyPinyinA{color:#000; }
.ctCyChengyus{width:650px; padding:0 0 0 100px; }
.ctCyChengyu{margin:10px; font-size:15px; }
.ctCyChengyuA{color:#555; text-decoration:none; }
.ctCyChengyuAL{color:#008; text-decoration:none; font-weight:bold; }
.ctCyChengyuP{color:#888; font-size:11px; }
.ctCyChengyuCn{text-align:center; }
.ctCyChengyuCn{text-align:center; width:650px; }
.ctCyChengyuCnTable{border-collapse:	collapse; background-color:#eee; }
.ctCyChengyuCnTr{}
.ctCyChengyuCnTd{background-color:#fff; text-align:center; }
.ctCyChengyuCnPinyin{font-size:15px; color:#080; padding:5px; }
.ctCyChengyuCnChar{font-size:40px; color:#008; padding:0px 10px 5px 10px; }

/* ANNOTATION */

.ctf_line{width:100%; text-align:left; }
.ctf_char{height:50px; padding:3px; text-align:center; float:left; }
.ctf_pinyin{color:#090; font-size:11px; }
.ctf_cn{color:#009; font-size:14px; text-decoration:none; margin:3px; }

/* ROLL OVER */

#divPopup{border: 1px solid #1A40B0; background-color:#FFFDDD; padding:5px; z-index:100; visibility: hidden; width:200px; position: absolute;}
.ppPinyin{text-align:center; font-size:13px; color:#090}
.ppCn{text-align:center; font-size:25px; color:#009; margin:5px 0px}
.ppDef{text-align:left; font-size:12px; color:#000;}
.ppDefLine{margin:5px 0px}
.ppDefType{font-size:11px; color:#999;}
.ppDefPinyin{font-size:12px; color:#090; text-align:center; margin:10px 0px 0px 0px}