/* Index */

.CTDIIndexPinyin{margin:20px 0px; padding:0px 0px 5px 20px; background: url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") no-repeat 4px 4px; font-size:13px; clear:both; overflow:hidden; }
.CTDIIndexPinyinL{float:left; width:60px; font-weight:bold; }
.CTDIIndexPinyinR{float:right; width:560px; }
.CTDIIndexPinyinE{margin:0 0 5px 0; }
.CTDIIndexPinyinES{margin:5px; }
.CTDIIndexPinyinEC{font-size:14px; text-decoration:none; }
.CTDIIndexPinyinEP{color:#aaa; font-size:12px; }

.CTDIBread{background-color:#F6F6F6; border:#EFEFEF 1px solid; margin:5px 0; padding:5px 8px; font-size:12px; }

/* Entries */

.CTDIEntries{}

.CTDIDef {margin:20px 0px; padding:0px 0px 5px 20px; background: url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") no-repeat 0px 4px; font-size:13px; border-bottom: 1px dotted #aaa}
.CTDIDefChar{font-weight:bold; font-size:14px}
.CTDIDefPinyin{color:#900; margin:0 0 0 10px; }
.CTDIDefDef{color:#009; margin:0 0 0 10px; }
.CTDIDefType{font-size:11px; color:#aaa; margin:0 0 0 10px; }

.CTDIEntry{padding:0 0 5px 20px; }
.CTDIEntryOl{}
.CTDIEntryLi{margin:20px 0; }
.CTDIEntryLine{margin:5px 0; }
.CTDIEntryChar{margin:0; color:#000; font-size:14px; }
.CTDIEntryBold{color:#090; }
.CTDIEntryPinyin{margin:0 0 10px 0; padding:0 0 0 10px; color:#aaa; font-size:12px; }