/* Form */
.ctdicoBorder{padding:8px; }
.ctdicoLeft{width:100px; font-weight:bold; text-align:center; }
.ctdicoForm{font-family: arial, simsun; font-size:15px; border: 1px solid #CECFCE; padding:5px; width:300px; }
.ctdicoEx{font-family: arial, simsun; font-size:12px; padding:5px 0; }
.ctdicoButton{width:90px; margin-left:10px; }
.ctdico_form2{font-family: arial, simsun; font-size:15px; border: 1px solid #CECFCE; padding:5px; width:300px; }
.ctdico_button{width:90px; margin-left:10px; }
#options{margin:10px 10px 0 10px;}
#options p {margin:15px 0 0 0; padding:0px; }
#options h1 {display:none; }
#options h2 {font-size:12px; font-weight:bold; margin:0 0 2px 0;}
#options ul {margin:0px; padding:0px; }
#options li {display:inline; padding:4px; }

.error{margin:20px; font-weight:bold; color:#F00; font-size:bold; text-align:center; }

.ctdico_or{font-size:10px; color:#aaa; margin:0 8px 0 6px; }
.ctdico_message { font-weight: bold; margin: 10px 0; text-align:center }
.ctdico_intro { margin: 20px; text-align:left }
.ctdico_error { margin: 20px; text-align:center; font-weight:bold; }
.ctdico_entry{margin: 3px 0; padding: 3px; background-color:#fff; border-bottom:1px dashed #ddd;}
.ctdico_entryAlt{margin: 3px 0; padding: 3px 3px; background-color:#fff; border-bottom:1px dashed #ddd;}
.ctdico_calligraphy{width:15px; }
.ctdico_char{width:100px; font-size:14px; color:#090; padding:0 0 0 10px; font-family: simsun; }
.ctdico_charu{color:#090; padding:0 1px; text-decoration:none; font-family: simsun; }
.ctdico_audio{width:25px; }
.ctdico_pinyin{width:120px; color:#900; font-family:arial; }
.ctdico_type{width:60px; color:#999; font-size:10px; }
.ctdico_def{width:300px; color:#009}
.ctdico_deflink{color:#009; text-decoration: none; font-family: arial, simsun; }
.ctdico_deflink:hover{text-decoration: underline; }
.ctdico_prop{font-size:10px; color:#999; margin-left:5px; }
.ctdico_cnB{ text-align:center; margin:20px 0; }
.ctdico_cnBborder{}
.ctdico_cnBchar{ font-size:30px; color:#000; }
.ctdico_cnBpinyin{ color:#000; }
.ctdico_cnBtitle{ text-align:center; margin:40px 0 20px 0; font-size:15px; }
.ctdico_ext{width:36px; text-align:right; }
.ctdico_ext img {margin:0 0 1px 2px; width:12px; height:12px; border:none; }



/* Themadic */
#tdAlpha {text-align:center; }
#tdAlpha ul {list-style-type: none; clear:both; margin:0px; padding:0px; }
#tdAlpha li {display:inline; margin:0 2px; }
#tdAlpha a  {border:1px solid silver; background-color:#F3F3F3; padding:2px 6px; color:#000; text-decoration:none; font-weight:bold; }
#tdAlpha a:hover { color: red; border:1px solid #666; background-color:#FFFBC7; }

#tdEntries {margin:30px; font-family:arial, simsun; }
#tdEntries ul {list-style-type: none; clear:both; margin:0px; padding:0px; }
#tdEntries li {color:#aaa; margin:10px; padding:0 0 0 15px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") 0px 5px; }
#tdEntries a  {font-size:17px; color:#000; font-weight:bold; text-decoration:none; }
#tdEntries a:hover  {color:red; }

#tdPrevNext {padding:20px 0; text-align:center; font-size:15px; font-family:arial, simsun; margin: }
#tdPrevNext a {color:#0000CC; margin:0 10px; }

#tdEntry {margin:0 30px; font-family:arial, simsun; }
#tdWord {padding:0 0 0 20px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") 0px 8px; }
#tdWord .cn {font-size:20px; font-weight:bold; margin-right:20px; }
#tdWord .pinyin {color:#c00; margin-right:20px; }
#tdEntry .definition {margin:10px 0 20px 20px; font-size:15px; }
#tdEntry .example {color:#999; padding:5px 0 5px 20px; }

/* Dico CW */

#ctdicwRad {}
#ctdicwRad p { clear:both; display:block; margin:0 0 40px 0;}
#ctdicwRad h1 {float:left; width:40px; padding:7px 0 0 0; margin:0px; font-weight:bold; font-size:18px; }
#ctdicwRad ul {list-style:none; display:block; font-family: tahoma, verdana, arial; overflow:hidden; }
#ctdicwRad li {float: left; margin:4px 4px 2px 4px; }
#ctdicwRad a { font-size:18px; display:block; color:#000; line-height:30px; width:30px; height:30px; text-align: center; vertical-align: middle; text-decoration:none; border:1px solid silver; background-color:#F3F3F3; }
#ctdicwRad a:hover { color: red; border:1px solid #666; background-color:#FFFBC7; }
	
#ctdicwPin {}
#ctdicwPin p { clear:both; display:block; margin:0 0 40px 0;}
#ctdicwPin h1 {float:left; width:40px; padding:7px 0 0 0; margin:0px; font-weight:bold; font-size:18px; }
#ctdicwPin ul {list-style:none; display:block; font-family: tahoma, verdana, arial; overflow:hidden; }
#ctdicwPin li {float: left; margin:4px 4px 2px 4px; }
#ctdicwPin a { font-size:14px; display:block; color:#000; line-height:30px; width:60px; height:30px; text-align: center; vertical-align: middle; text-decoration:none; border:1px solid silver; background-color:#F3F3F3; }
#ctdicwPin a:hover { color: red; border:1px solid #666; background-color:#FFFBC7; }

#cwChar{clear:both; margin-top:20px; }
#cwLeft{float: left; width:160px; margin-right:20px; overflow:hidden; }
#cwRight{float: right; width:470px; }

#cwCharImg {width:160px; height:160px; padding:0; margin:0; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoBg1.gif"); overflow:hidden; }
#cwCharBg {width:99px; height:99px; margin:31px; padding:8px 0 0 5px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/charbg.gif"); }

#cwCharInfo {width:160px; padding:8px; margin-top:20px; font-family:arial, simsun; }
	#cwCharInfo a {text-decoration:none; }
	#cwCharInfo .l {width:160px; clear:both; margin:4px 0; padding:0 0 4px 0; overflow:hidden; }
	#cwCharInfo .u {border-top:1px #eee solid; padding:6px 0 0 0; }
	#cwCharInfo .k {float:left; width:60px; font-size:12px; margin-right:10px; text-align:right; display:block; }
	#cwCharInfo .v {float:right; width:90px; text-align:left; font-size:12px; }
	#cwCharInfo .c {font-weight:bold; font-size:20px; }

.cwCharBlock{font-size:15px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoBg2.gif"); padding:10px; margin:0 0 10px 0; display:block; overflow:hidden; font-family:arial, simsun; }
.cwCharBlockTop{padding:0 0 0 60px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoBook.gif") 5px 0px; }
.cwCharBlockTopC{font-size:30px; font-weight:bold; color:#000; margin-right:10px; }
.cwCharBlockTopP{font-size:15px; color:#c00;}
.cwCharBlockTitle {text-align:center; font-size:12px; font-weight:bold; padding:10px 0; margin:10px 0; background-color:#fff; border:1px #DEDEDE solid; }
.cwCharBlockTitle ul {list-style-type: none; margin:0px; padding:0px 5px; clear:both; overflow:hidden; }
.cwCharBlockTitle li {display: inline; overflow:hidden; margin:0 5px; padding:0 15px; text-align:left; }
	.cwCharBlockTitle .li1 { background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoIco2.gif") 0px 5px; }
	.cwCharBlockTitle .li2 { background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoIco3.gif") 0px 5px; }
	.cwCharBlockTitle .li3 { background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoIco1.gif") 0px 5px; }
	.cwCharBlockTitle .li4 { background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoIco4.gif") 0px 5px; }
	.cwCharBlockTitle .on {color:#333; }
	.cwCharBlockTitle .off {color:#00c; text-decoration:underline; cursor:pointer; }
	.cwCharBlockTitle .off:hover {color:#f00; text-decoration:underline; cursor:pointer; }
.cwCharBlockGeneral{padding:20px 10px 30px 10px; }
.cwCharBlockParts{padding:10px; display:none; }
	.cwCharBlockPart{padding:0 0 20px 0; margin:0 0 20px 0; }
	.cwCharBlockPart ol{padding:0; margin:0 0 0 25px; }
	.cwCharBlockPart li{padding:10px 0 10px 0;}
	.cwCharBlockPart .type{text-align:left; font-size:13px; font-weight:bold; color:#000; border-bottom:1px #999 dotted; padding:0 0 5px 15px; margin:5px 0 10px 0; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") 0px 5px; }
	.cwCharBlockPart .ex {color:#999; padding:5px 0 0 20px; }
.cwCharBlockFirst{padding:20px 10px 30px 10px; display:none; }
.cwCharBlockNotFirst{padding:20px 10px 30px 10px; display:none; }
.cwCharBlockOthers{padding:20px 10px 30px 10px; }
.cwWords{}
	.cwWords ul {list-style-type: none; padding:0; margin:0; }
	.cwWords .word {margin;0px; padding:0 0 0 15px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") 0px 5px; }
	.cwWords .top {}
	.cwWords .cn {font-weight:bold; }
	.cwWords .py {color:#c00; margin-left:10px; }
	.cwWords .def {margin:10px 0 20px 20px; }
	.cwWords .ex {color:#999; padding:5px 0 5px 20px; }
.cwCharBlockInfos{width:160px; margin:20px 0; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoBg3.gif"); padding:10px; display:block; overflow:hidden; }
.cwCharBlockInfosTop{font-weight:bold; font-size:13px; }
	.cwCharBlockInfos ul {margin:10px 0 0 15px; padding:0px; }
	.cwCharBlockInfos li {font-size:12px; }
	.cwCharBlockInfos .k {font-weight:bold; margin-right:10px; }
	.cwCharBlockInfos .v {}

.cwEntries{font-family:arial, simsun; }
	.cwEntries ul {list-style-type: none; padding:0; margin:20px; }
.cwEntry{margin:10px 0; }
	.cwEntry {margin;0px; padding:0 0 0 20px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") 0px 8px; }
	.cwEntry .cn {font-size:20px; font-weight:bold; margin-right:20px; }
	.cwEntry .cn a {text-decoration:none; color:#000; }
	.cwEntry .cn a:hover {text-decoration:underline; color:#00F; }
	.cwEntry .py {color:#c00; margin-right:20px; }
	.cwEntry .def {margin:10px 0 20px 20px; font-size:15px; }
	.cwEntry .ex {color:#999; padding:5px 0 5px 20px; }



/* Synonyms */
.syForm{font-family: simsun; font-size:15px; border: 1px solid #CECFCE; padding:5px; width:300px; }

.syEntry{margin:30px 0; clear:both; padding:15px; background:repeat-x url("https://www.chinese-tools.com/jdd/public/documents/misc/dicoBg4.gif"); }

.syTitle {font-size:13px; padding:10px 0 0 10px; background-color:#fff; border:1px #DEDEDE solid; }
.syTitle .trad {color:#666; font-weight:normal; }
.syTitle .xing {color:#666; font-weight:normal; }
.syLine {font-size:13px; margin-top:20px; padding:0 0 0 10px; clear:both; overflow:hidden; }
	.syLine .type {font-weight:bold; margin;0px; padding:0 0 0 15px; background:no-repeat url("https://www.chinese-tools.com/jdd/public/documents/chardot.gif") 0px 5px; }
	.syLine ul{}
	.syLine li{ margin:0 10px 5px 0; width:130px; height:20px; float:left; font-family: simsun; }
	.syLine .trad {color:#999; font-weight:normal; }

.syDiEntry{clear:both; overflow:hidden; }
	.syDiEntry .cn {font-family: simsun; font-weight:bold; padding-top:1px; color:#090; width:80px; float:left; }
	.syDiEntry .pinyin {color:#900; width:80px; float:left; }
	.syDiEntry .typedef {width:400px; float:left; }
	.syDiEntry .line {clear:both; margin:0 0 10px 0; overflow:hidden; }
	.syDiEntry .type {color:#999; font-size:11px; padding-top:2px; width:80px; float:left; }
	.syDiEntry .def {color:#009; float:left; }