.ctf_line{width:100%; text-align:left; }
.ctf_char{padding:3px; text-align:center; float:left; }
.ctf_pinyin{color:#090; font-size:11px; }
.ctf_cn{color:#009; font-size:14px; text-decoration:none; margin:3px; }

.ctanno_result{margin:5px 0px}

.ctnews_item{margin:10px 0px; padding:10px; border-bottom:2px dotted #ddd; background-color:#FFF; }
.ctnews_title{font-weight:bold; color:#3954C8}
.ctnews_date{color:#aaa;}
.ctnews_description{}
.ctnews_read{font-weight:bold; text-align:right}
.ctnews_readA{color:#FF9000}

#divPopup{border: 1px solid #1A40B0; background-color:#FFFDDD; padding:5px; z-index:100; visibility: hidden; width:200px; position: absolute;}
.ppPinyin{text-align:center; font-size:13px; color:#090}
.ppCn{text-align:center; font-size:25px; color:#009; margin:5px 0px}
.ppDef{text-align:left; font-size:12px; color:#000;}
.ppDefLine{margin:5px 0px}
.ppDefType{font-size:11px; color:#999;}
.ppDefPinyin{font-size:12px; color:#090; text-align:center; margin:10px 0px 0px 0px}

.newsMenuBox{height:20px; border:1px solid #ccc; background-color:#EFEFEF; font-weight:bold; padding:0px; margin:3px 0px; clear:both; }
.newsMenuBoxT{height:17px; background-color:#AA0033; color:#fff; padding:3px 0 0 12px; }
.newsMenuBoxL{height:20px; width:5px; border-right:1px solid #ccc; float:left; }
.newsMenuBoxR{height:17px; padding:3px 0 0 5px; float:left; }
.newsMenuA{text-decoration:none; color:#000}
.newsTitle{background-color:#EFEFEF; border-top:1px solid #999; font-weight:bold; padding:3px 5px; margin:3px 0px}
.newsExp{margin:10px; text-align:center}