.ctf_sep{border:2px dotted #ddd; }
.ctf_line{width:100%}
.ctf_char{padding:10px 5px; text-align:center; float:left}
.ctf_pinyin{color:#090; font-size:12px; margin:5px 0px}
.ctf_cn{color:#009; font-size:18px; text-decoration:none}
.ctf_lit{margin:5px 0px; font-size:12px; color:#999; }
.ctf_fig{margin:12px 0px 5px 0px; font-size:12px; color:#000; font-weight:bold}

.ctf_block{width:650px; clear:both; margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:2px dotted #ddd; overflow:hidden; }
.ctf_left{float:left; width:320px; margin-right:10px; }
.ctf_right{float:right; width:320px; }