h1{font-size:17px; color:#000;FF663C; margin:10px 0; font-style:italic; }
Ah1{font-size:15px; color:#fff; padding:1px 0px 1px 5px; margin:0 0 10px 0; background:url("https://www.chinese-tools.com/jdd/public/images/study/h1bg.gif") no-repeat top left }
h2{font-size:13px; color:#00A; margin:10px 0 5px 0; }
p{text-align:left; font-size:12px; margin:0px 0 20px 0; }
Ali{font-size:12px; margin:5px; }
td{padding:3px; }

.subtitle {margin-bottom:4px; }

.hoTitle{background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.title.bg.gif') no-repeat right 7px 0px; padding:0px; height:18px; }
.hoTitleL{background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.title.left.gif') no-repeat left 7px 0px; width:14px; height:18px; }
.hoTitleT{color:#FF6000; background-color:#FFF; padding:0 10px; font-weight:bold; font-size:13px; height:18px; }
.hoTitlei{background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.titlei.bg.gif') no-repeat right 7px 0px; padding:0px; height:18px; }
.hoTitleiL{background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.titlei.left.gif') no-repeat left 7px 0px; width:14px; height:18px; }

.hoSeBox{width:626px; background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.search.bg.gif') no-repeat 0px 0px; padding:0 0 10px 24px; border-bottom:#568128 solid 4px; }
.hoSeBoxV{width:30px; background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.search.v.bg.gif') no-repeat 17px 0px; }
.hoSeBox select{font-size:11px; font-family:verdana; width:200px; margin:3px 0px; }
.hoSeBoxStats{font-size:12px; border-bottom:#EBEEE3 1px solid; padding:0 0 5px 0; margin:5px 0; }
.hoSeBoxB{color:#FFF; font-weight:bold; background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.search.b.bg.gif'); width:100px; height:25px; margin:3px 0 0 0; }
.hoSeBoxDiv1{margin:0; font-size:12px; }
.hoSeBoxDiv2{background: url('https://www.chinese-tools.com/jdd/public/images/cn_li1.gif') no-repeat 3px 5px; margin:3px 0; padding:0 0 0 15px; font-size:12px; }

.hoPub1{margin:30px 0; text-align:center; }
.hoPub1 img {margin:0 5px; border:#000 1px solid; }
.hoPub2{margin:30px 0; text-align:center; }
.hoPub2 img {margin:0 5px; }

.hoTop1{background: #DBE7D1 url('https://www.chinese-tools.com/jdd/public/images/study/ho.top1.1.gif') no-repeat 0px 20px; width:300px; padding:0; }
.hoTop1-2{background: #DBE7D1 url('https://www.chinese-tools.com/jdd/public/images/study/ho.top1.1.2.gif') no-repeat 0px 20px; width:300px; padding:0; }
.hoTop1Title{background-color:#D5E2C8; height:27px; background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.top1.t.gif') no-repeat 0px 0px; padding:6px; font-size:12px; }
.hoTop1Body{background-color:#FAFAF8; margin:73px 6px 0px 6px; padding:0 5px 3px 5px; }
.hoTop1Bottom{background-color:#59832D; background: url('https://www.chinese-tools.com/jdd/public/images/study/ho.top1.2.gif') no-repeat 0px 0px; height:10px; }

.ho120x40{align:center; }
.ho120x40 img {margin:1px; }



.csListCity{border:1px #ccc solid; background-color:#fafafa; margin:5px 0; }
.csListCityName{padding:3px; font-style:italic; font-weight:bold; }
.csListCitySchools{}
.csListCitySchool{}
.csListCitySchoolName{}
.csListCitySchoolCity{color:#aaa; font-size:10px; }

.csSeForm{background-color:#FFEC6F; border: 1px solid #CECFCE; padding: 5px; width:650px; }
.csSeForm select {font-size:11px; width:130px; }
.csSeForm input {font-size:11px; width:50px; }
.csSeForm td {padding:3px 4px; font-weight:bold; font-size:11px; }
.csSeResult{margin:20px 0; }
.csSeRMB{font-size:11px; color:#f00; font-weight:bold; }
.csSeRMB2{font-size:11px; color:#000; font-weight:bold; }
.csSeResultA{width:650px; border:1px #ccc solid; background-color:#fafafa; padding:5px; margin:5px 0; }
.csSeResultB{width:650px; font-size:11px; margin:5px 0 20px 0; padding:0 0 0 100px; }
.csSeResultCity{font-size:12px; width:100px; }
.csSeResultSchool{font-size:11px; color:#999; }
.csSeResultSchool a {font-size:12px; color:#000; font-weight:bold; }
.csSeResultProgram{margin:2px; padding:3px 3px 3px 25px; background:url("https://www.chinese-tools.com/jdd/public/images/study/snli.gif") 10px 6px no-repeat; }
.csSeResultSublinks{font-size:11px; padding:0 0 0 10px; }
.csSeResultSublinks a {color:#999; }

.csPeNavigation{padding:1px; height:16px; font-variant:normal; font-family:verdana; color:#555; font-size:10px; }
.csPeNavigation a {color:#555; }
.csPeBody{}
.csPeBody h1{font-size:14px; font-style:italic; color:#0044BB;B50000; }
.csPeSchools{float:left; width:260px; margin:0 10px 10px 0; padding:0 0 0 0; }
.csPeSchoolsType{border:1px solid #FFCC33; background-color:#FFFFCC; margin:10px 5px 15px 5px; padding:5px; }
.csPeSchoolsTypeTitle{font-weight:bold; font-style:italic; font-size:13px; color:#000; margin:3px 0; }
.csPeSchoolsCity{}
.csPeSchoolsCity h2{margin:15px 0 2px 0; color:#555; font-size:11px; text-align:center; }
.csPeSchoolsCity ul{margin:5px 0 5px 15px; padding:0; }
.csPeSchoolsCity li{margin:5px; padding:0; }

.csSlMenus{width:650px; height:30px; margin:15px 0 25px 0; text-align:center; }
.csSlMenusIn{text-align:center; color:#fff; font-weight:bold; margin:auto; }
.csSlMenuOff{margin:0 10px; padding:5px 0; width:156px; height:34px; background:url("https://www.chinese-tools.com/jdd/public/images/study/slmenuoff.gif") 1px 0 no-repeat; float:left; }
.csSlMenuOn{margin:0 10px; padding:5px 0; width:156px; height:34px; background:url("https://www.chinese-tools.com/jdd/public/images/study/slmenuon.gif") 1px 0 no-repeat; float:left; }
.csSlMenuA{text-decoration:none; color:#fff; }
.csSlMenuA:hover{color:#FFDD00; }

.slBlock{width:650px; margin:0 0 10px 0; }
.slLeft{float:left; width:280px; background-color:#fff; margin:0 10px 10px 0; }
.slRight{float:right; width:350px; }
.slBox{width:270px; padding:15px 0 5px 0; margin:0 0px 10px 0; background:url("https://www.chinese-tools.com/jdd/public/images/study/slbg.gif") no-repeat top left #F7F7F7; border-bottom:1px #DDD solid; }
.slImg{border:1px solid #555; margin:0px 8px; }
.slImgSub{color:#555; font-size:11px; margin:5px 10px; }

.csPm{ width:650px; padding:0px; margin:0 0 20px 0; background:url("https://www.chinese-tools.com/jdd/public/images/study/pmbg.gif") no-repeat top left #F7F7F7; border-bottom:1px #DDD solid; }
.csPmBody{font-size:12px; }
.csPmName{color:#00A;  font-size:14px; font-weight:bold; margin:0 0 8px 0; padding: 10px 0 0 30px; background:url("https://www.chinese-tools.com/jdd/public/images/study/pmli.gif") 10px 12px no-repeat; }
.csPmIntro{margin:10px; }
.csPmSessions{margin:10px 20px 10px 30px; background-color:#FFFAAA; border:1px solid #FFF; padding:5px; }
.csPmDesc{margin:10px 0 0 30px; }
.csSnLine{background:url("https://www.chinese-tools.com/jdd/public/images/study/snline.gif") 0 5px repeat-x; height:10px; }
.csSnSummup{color:#000; width:500px; padding: 5px 5px 5px 18px; background:url("https://www.chinese-tools.com/jdd/public/images/study/snli.gif") 3px 9px no-repeat; }
.csSnApply{width:100px; text-align:center}
.csSnApplyA{text-decoration:none; }
.csSnApplyButton{width:70px; height:23px; background:url("https://www.chinese-tools.com/jdd/public/images/study/snapply-en.gif") 0 0 no-repeat; border-width:0; margin:2px 0 0 0; }

.csAfError{color:red; font-weight:bold; margin:10px 0; text-align:center; }

.csAfSection{background:url("https://www.chinese-tools.com/jdd/public/images/study/afbg.gif") no-repeat top left #FFFDDD; border-bottom:1px #FFFBBB solid; padding:0; margin:0 0 20px 0; width:650px; }
.csAfSectionIn{padding:10px; }
.csAfSectionTitle{color:#008; font-size:14px; font-weight:bold; margin:0 0 8px 0; padding: 0 0 10px 20px; background:url("https://www.chinese-tools.com/jdd/public/images/study/pmli.gif") 0 2px no-repeat; }
.csAfFTitle{width:120px; font-size:12px; padding:6px; }
.csAfFTitleR{font-weight:bold; width:120px; }
.csAfFCaptchaImg{border:1px solid #7F9DB9; margin-bottom:5px; }
.csAfFCaptchaInput{width:177px; }
.csAfFComments{font-style:italic; }
.csAfFText{font-family:arial; font-size:12px; }
.csAfSend{text-align:center; padding:10px; width:600px; }
.csAfSendButton{ color:#fff; font-weight:bold; margin:0px; width:156px; height:34px; border:none; background:url("https://www.chinese-tools.com/jdd/public/images/study/afsend.gif") 0 5px no-repeat; }

.csAfFSchool{font-weight:bold; font-size:14px;  }
.csAfFProgram{font-size:12px; }
.csAfFSession{color:#008; font-size:12px; }
.csAfFSessionSelect{width:400px; }
.csAfFlevel{width:200px; }
.csAfFweeks{width:50px; font-weight:bold; }
.csAfFacco{width:200px; }

.csAfFfirstname{width:200px; }
.csAfFlastname{width:200px; }
.csAfFGender{font-size:11px; margin:10px; }
.csAfFnationality{width:300px; }
.csAfFdateofbirthy{}
.csAfFdateofbirthm{}
.csAfFdateofbirthd{}
.csAfFplaceofbirth{width:300px; }
.csAfFemail{width:300px; }
.csAfFphone{width:200px; }
.csAfFaddress{width:400px; height:53px; }
.csAfFchineselevel{width:300px; }
.csAfFacademiclevel{width:300px; }
.csAfFeducation{width:400px; height:53px; }
.csAfFoccupation{width:300px; }
.csAfFemployment{width:400px; height:53px; }