#travelHome {margin:10px 0; padding:0; background: #000 url("https://www.chinese-tools.com/jdd/public/documents/travel/home-bg.jpg") no-repeat 0px center; width:650px; height:100px; }
#travelHomeIn{margin:65px 20px 0 20px; text-align:right; font-size:12px; color:#FFF; font-weight:bold; }
#travelHomeIn a {font-size:10px; color:#aaa; }


.travelH1{font-size:20px; font-family: "Lucida Grande", Arial, sans-serif; color:#4397EF;FFB500; padding:0px; margin:0px 0px 20px 0px }
.travelH2{margin:0px 0px 10px 0px; padding:0px 0px 0px 15px; font-size:12px; color:#616A74; font-weight:bold; background: #fff url("https://www.chinese-tools.com/jdd/public/documents/design/bullet-arrow-green.gif") no-repeat 0px center; }
.travelH2{margin:0px 0px 20px 0px; padding:0px 0px 0px 20px; font-size:12px; color:#616A74; font-weight:bold; background: #fff url("https://www.chinese-tools.com/jdd/public/documents/travel/li.gif") no-repeat 0px center; }
.travelP{margin:20px 0px 30px 0px; padding:0px 0px 0px 20px; color:#333; }
.travelImgTitle{margin:0px 0px 20px 0px}
.travelT1L{width:60px; font-size:12px}
.travelT1R{width:140px; font-size:12px; font-weight:bold}
.travelInfo{padding:10px; height:100px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', GradientType=0, startColorstr=#FFF68D, endColorstr=#FFFFFF); border-top:1px solid #FFDF5D;}
.travelPrice{font-weight:bold; font-size:12px; color:#E00}
.travelUl{margin:20px; font-size:12px}

.travelBorder{border:1px solid #FFDF5D; padding:5px; background-color:#FFFBC7;}
.travelBorderRight{padding:0 0 0 40px; background: #fff url('../../images/cn_ptv.gif') repeat-y 20px 0px; }

.articleCommentBox{border:1px solid #ddd; background-color:#efefef; padding:0px 10px; margin:10px 10px; width:270px}
.articleCommentBox2{border:1px solid #ddd; background-color:#efefef; padding:10px; margin:10px 0px; width:250px}
.articleCommentTitle{font-weight:bold; margin:10px 0px}

.travelDayDiv{margin:15px 0px 5px 0px; padding:0px 0px 0px 15px}
.travelDD{margin:30px 0px; font-size:13px; font-family:Arial}
.travelDD a {color:#555; }
.travelDDtop{}
.travelDDday{font-weight:bold; color:red}
.travelDDtitle{font-weight:bold;}
.travelDDimageL{width:130px; float:left; margin:0px 10px 10px 0px; border:1px solid #000}
.travelDDimageR{width:130px; float:right; margin:0px 0px 10px 10px; border:1px solid #000}

.trdayoptional{color:#aaa; font-style:italic; font-size:10px; }


.travelSpotDetail{border:1px solid #ddd; background-color:#efefef; padding:10px; margin:10px 10px; width:270px; float:left; }
.travelSpotDetail img{border:1px solid #000; margin:5px 0 10px 0; }
.travelSpotDetailTitle{font-weight:bold; margin:10px 0px; }
.travelSpotDetailComment{font-style:italic; color:#666; }

.travelQuotationBox{border:1px solid #FFDF5D; background-color:#FFFBC7; padding:10px; margin:10px 0px; text-align:center; clear:both; }

.menu2Title{color:#fff; font-weight: bold; font-size: 11px; margin:10px 0px 0px 0px; padding: 3px 3px 3px 6px; border-bottom:1px solid #2C5997; background-color:#2E5EAB; background:url('https://www.chinese-tools.com/jdd/public/images/en_bgM2.gif'); }
.menu2Link { padding: 3px; background-color:#F6F6F6; border:1px solid #EFEFEF; border-top:0px }
.menu2LinkA {font-size:11px; font-weight:normal; text-decoration:none; color:#555; }