body {
    background-color: #DDDDDD;
    font-family: arial,helvetica,verdana,simsun;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.clear {clear:both;height:1px;width:100%;}
#Layout {
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 940px;
}
#SiteContainer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-bottom-color: #555555;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #555555;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #555555;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    width: 742px;
}
#block3 {
    clear: both;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 742px;
}
#page {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	color:#545454;
	 font-family:Arial, Helvetica, sans-serif;
}
/*trian页面的样式*/
.trainSearch{ width:722px; background:url("https://www.chinese-tools.com/jdd/public/include/trains/backgroud.jpg") no-repeat; padding:8px 0 10px 20px;}
h1.searchTrainTit{ color:#fff; font-size:22px; font-weight:100; margin:15px 0 30px 45px;}
.trainSearch table tr td{ padding:0 0 15px 0;}
.trainSearch table tr td span.style1{ font-size:16px; text-transform:uppercase; color:#545454;}
.trainSearch table tr td span.style2{ font-size:14px; color:#6f6f6f;}
.chtLink {font-size:14px; color:#6f6f6f; text-decoration:underline;}
.trainSearch table tr td input.departCity{  border:1px solid #d1d1d1; font-size:17px; padding:6px 4px 6px 4px; width:290px;}
.trainSearch table tr td input.searchButton{ background:url("https://www.chinese-tools.com/jdd/public/include/trains/trainsearch-bu.png") no-repeat; font-size:20px; color:#FFF; border:0;  width:160px; font-family:Arial, Helvetica, sans-serif; padding:6px 0 5px 25px; text-align:left; cursor:pointer;}
.trainLeft{ width:260px; float:left;}
.trainLeft p{ font-size:12px; line-height:22px; color:#545454; margin-bottom:15px;}
.trainLeft .item {line-height:20px;color:#545454;padding:10px 0;margin-right:15px;}
.trainLeft .item:first-letter {font-weight:bold;font-size:200%;margin:0 5px 5px 0;color:#2c5daa;}
.trainRight{ width:475px; float:right;}
.trainRight .item {color:#545454;margin-right:5px;}
.trainRight .item ol {padding:0;padding-left:15px;list-style-type: upper-roman;}
.trainRight .item ol li {line-height:22px;margin:10px 0;}
.trainLeft h2, .trainRight h2{ font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#2c5caa;}
.trainstep{font-family:Arial, Helvetica, sans-serif; background:url("https://www.chinese-tools.com/jdd/public/include/trains/bookstep.png") no-repeat left -3px; padding:0px 0 0 35px;}
.trainstep span.titleBlue{ font-size:22px; color:#2c5daa; text-transform:uppercase; display:inline-block; margin-bottom:5px;}
.trainstep p{ font-size:12px; line-height:24px; color:#545454; margin-bottom:15px; font-family:Arial, Helvetica, sans-serif;}

.trainRoute {}
.trainRoute h2 { font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#2c5caa;}
.trainRoute ul {padding:0;}
.trainRoute ul li {
	width:130px;
	float:left;
	margin:5px 10px;
	list-style-type: none;
}
.trainRoute ul li a {color:#2c5caa;text-decoration:none;}
.trainRoute ul li a:hover { text-decoration:underline;}

.note {line-height:22px;}