<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <AllMyJournals/>
    <Chart2/>
    <h1>fdfd</h1>
    
  <h1>rere</h1>
        <h1 v-if="user">Welcome on your page {{user.alias}}</h1>
          <h1 v-if="!user">Let's register !</h1>

   
    

  </div>
</template>

<script>
import firebase from 'firebase'
import db from '@/firebase/init'
import AllMyJournals from '@/components/pagemyjournal/AllMyJournals'
import Chart2 from '@/components/chart/Chart2'
export default {
  name: 'Home',
  components:{
    AllMyJournals,
    Chart2

  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      user: null,
      profile : null 
       
    }
  },

    beforeCreate(){
      
   let ref = db.collection('users')
    // current user
    ref.where('user_id', '==', firebase.auth().currentUser.uid).get()
    .then(snapshot => {
      snapshot.forEach(doc => {
        this.user = doc.data()
        this.user.id = doc.id
      })
    })
    // profile data
    ref.doc(this.$route.params.id).get()
    .then(user => {
      this.profile = user.data()
    })
    // comments
   
    
  },




}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
