#spamhurdles_captcha {
    font-size: small;
    padding: 10px 0px 10px 0px;
}

#spamhurdles_captcha_title {
    font-weight: bold;
}

#spamhurdles_captcha_explain {
    width: 85%;
}

#spamhurdles_spoken_captcha {
    padding-left: 15px;
    background: url("https://www.chinese-tools.com/jdd/phorum/mods/spamhurdles/lib/audio.gif") no-repeat;
    padding-bottom: 10px;
    font-size: small;
}

#spamhurdles_captcha_image {
    margin: 8px 0px 8px 0px;
}

#spamhurdles_captcha_image .captcha_image {
    border: 1px solid #333;
}

#spamhurdles_captcha_asciiart {
    line-height: 4px;
    font-size: 6px;
    font-weight: bold;
    color: black;
}
