<template>


    <div class="">
        <h1>chart read</h1>
    <h1>Resultat</h1>
    <vue-chart type="doughnut" :data="data" :bind="true"></vue-chart>
    <router-link to="/">Vote again</router-link>
  </div>
</template>


<script>
export default {
  name:'ChartRead',
  data(){
    return{
      

    }
  }
  
}
</script>


<style>

</style>

