<template>
    <div>

    
    </div>


 
  
 
</template>

<script>
import '@firebase/firestore'

import firebase from "firebase";
export default {
    name:'Chart',
    components:{

    },
    data(){
        return{
    
       

        }

    },
      created() {
           





    
  },
  
   methods: {
       




}
    
}
</script>

<style>

</style>
