<template>
    <div id="footer" style="margin-top:300px;">

 
  

    </div>
</template>


<script>
export default {
     data(){
         name:Footer
    return{
   

    }
  }  
}
</script>


<style>
#footer{
    
    background-color: #eeeeee66;
    margin-top: 10%;

}

</style>
