
<template>

<div class="header">

  
   <b-nav  fill class="nav1" >
    <b-nav-brand <img class="logo" src="@/assets/assets/logo-blue.png" alt="a-chinese-journal">  </b-nav-item>
    <b-nav-item class="headerMessage">{{headerMessage}}</b-nav-item>
   

  </b-nav>
<!-- nav bar NON-USER -->
 
  <b-nav fill v-if="!user">
  <b-nav-item style="position:relative;bottom:15px;"><hr class="headerHr" style=" border-bottom: 1px solid; color:#28e5fd;"></b-nav-item>
  </b-nav>

  <p>{{navTest}}</p>

<!-- nav bar USER -->
  <b-nav  fill v-if="user"  class="nav2"  >
    <b-nav-item active v-if="user"><router-link :to="{ name: 'Profile', params: { id: user.alias } }"> My Profile</router-link> </b-nav-item>
    <b-nav-item v-if="user"><router-link :to="{ name: 'Home', params: { id: user.alias } }">Homepage</router-link></b-nav-item>
    <b-nav-item li v-if="user" class="headerPublishMyJournal"><router-link  :to="{ name: 'MyJournal', params: { id: user.alias, date: slugDate  } }">Publish my Journal</router-link></b-nav-item>
    <b-nav-item  li v-if="user"><router-link style="color:#e22530;" :to="{ name: 'MyJournal', params: { id: user.alias, date: slugDate  } }">Help</router-link></b-nav-item>

    <b-nav-item li ><a @click="logout">x</a></li></b-nav-item>
  </b-nav >
  <b-nav fill>
  <b-nav-item v-if="user" ><hr class="headerHr" style=" border-bottom: 1px solid; color:#28e5fd;"></b-nav-item>
  </b-nav>




</div>


</template>

<script>
import firebase from 'firebase'
import db from '@/firebase/init'
import slugify from 'slugify'
export default {
  name: 'Navbar',
  data(){
    return{
      user: null,
      navTest:'rttttttt',
            profile : null,
            slugDate:null,
           yesterdaySlugDate:null,
           headerMessage:"Simple, yet powerfull"

    }
  },
  created(){
    // let user = firebase.auth().currentUser
    firebase.auth().onAuthStateChanged((user) => {
      if(user){
        this.user = user
      } else {
        this.user = null
      }
    })
    let ref = db.collection('users')
    // current user
    ref.where('user_id', '==', firebase.auth().currentUser.uid).get()
    .then(snapshot => {
      snapshot.forEach(doc => {
        this.user = doc.data()
        this.user.id = doc.id
      })
    })
    // profile data
    ref.doc(this.$route.params.id).get()
    .then(user => {
      this.profile = user.data()
    })    
 
 
    let yesterdayDate = new Date(Date.now() - 864e5).toDateString("yyyyMMdd");
    this.yesterdaySlugDate = slugify(yesterdayDate, {
          replacement: '-',
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true
          
 })
 

 

  

  },
  beforeMount(){
   //date now test
   var date = new Date().toDateString("yyyyMMdd");

   this.slugDate = slugify(date, {
          replacement: '-',
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true
          
 })
  },

  methods: {
    logout(){
      firebase.auth().signOut().then(() => {
        this.$router.push({ name: 'Login' })
      })
    }
  }
}
</script>

<style>
.header{
  margin-top: 60px;
  margin-bottom: 40px;
}
.nav1{
  margin:0px 8%;
  margin-bottom: 40px;
}
.nav2{
  margin:0px 12%;
}
.nav2NonUser{
  margin:0px 12%;
}
.logo{

    max-height: 75px;
    position: relative;
    bottom: 10px;
}
.headerMessage{
  font-size: 33px;

}
.headerMessage a{
    color: #252525;
}
.headerHr{
  color: black;

}
.headerPublishMyJournal{
  background-color: #eeeeee;
}
.headerLogin{
  border: 1px solid red;
padding: 9px 29px;
    border-radius: 5px;
}
.registerIcone{
max-height: 40px;
 

}
</style>
