<template>
    <div>

<b-container class="bv-example-row">
    <b-row>
        <b-col style="background-color:grey;"cols="9">1 of 3</b-col>
        <b-col style="background-color:black;">2 of 3</b-col>
        <b-col style="background-color:blue;">3 of 3</b-col>
    </b-row>
     <b-row>
        <b-col style="background-color:grey;"cols="1">1 of 3</b-col>
        <b-col style="background-color:black;">2 of 3</b-col>
        <b-col style="background-color:blue;">3 of 3</b-col>
    </b-row>
</b-container>

    </div>
</template>


<script>
export default {
    name:'testBoot',
    
}
</script>


<style>

</style>
