@import url("../documents/css/bleu-old.css");

html {font-size:100%; }

body { background-color:#ddd; margin:0; padding:0; font-size:12px; font-family:arial, helvetica, verdana, simsun; }
a {color:#0000CB; }
a:hover {text-decoration: underline; color:red; }
img {border:none;}
form {margin:0; padding:0; }
table {text-align:left; }
p {clear:both; }

#Layout{width:940px; height:auto; overflow:hidden; }
#SiteContainer {width:742px; height:auto; float:left; margin:0px; padding:10px; text-align:left; background-color:#ffffff; border:1px #555 solid; border-top:none; }
#SiteContainerPrint {width:720px; margin:10px; padding:10px; text-align:left; background-color:#ffffff; border:1px #555 solid; }
#Side {width:160px; float:right; }
#footerad {width:752px; float:left; padding-top: 25px }

#block1 {width:720px; height:70px; float:left; clear:both; text-align:right; }
  #block1a {width:350px; float:left; margin:0; text-align:left; }
  #block1a ul {margin:0; padding:0; margin-left:3px; }
  #block1a li {display:inline; }
  #block1a .map {margin-left:20px; color:#AAA; position:relative; top:0px; font-size:11px; text-decoration:none; }
  #block1b {width:220px; float:left; font-size:11px; margin:0 10px; padding-top:10px; overflow:hidden; }
  #block1c {width:130px; float:right; margin:0; overflow:hidden; }
  #block1c a {font-size:10px; color:#333; font-weight:bold; }
  #topli div {text-align:right; padding:2px 25px 3px 0;}
  #topli .topli1 { background:url("../images/2008/litop1.gif") no-repeat right;}
  #topli .topli2 { background:url("../images/2008/litop2.gif") no-repeat right;}
  #topli .topli3 { background:url("../images/2008/litop3.gif") no-repeat right;}

#block2 {width:720px; height:60px; float:left; clear:both; margin:10px 0 0 0; background:url("../images/2008/bg6.gif") repeat-x; }
  #block2 .left {background:url("../images/2008/bg6left.gif") no-repeat left; padding:0; margin:0; width:6px; height:60px; float:left; }
  #block2 .right {background:url("../images/2008/bg6right.gif") no-repeat right; padding:0; margin:0; width:6px; height:60px; float:right; }
  
  #club {width:106px; height:104px; background:url("../images/2008/note.gif") no-repeat; position:relative; top:-18px; left:-10px; float:right; }
  #club .in {margin: 22px 0 0 8px; font-size:10px; font-weight:bold; text-align:center; }
  #club a {color:#0000CB; font-variant:small-caps; font-size:11px; }
  
  #menus {float:left; width:575px; }
  #menus a {color:#FFF; text-decoration:none; }
  #menus ul {margin:0; padding:0; }
  #menus .menu1 {width:100%; clear:both; padding:10px 0 0 10px; font-variant:small-caps; font-size:13px; font-weight:bold; }
    #menus .menu1 li {display:inline;  margin-right:7px; padding-right:7px; background:url("../images/2008/bg6sep.gif") no-repeat right; }
    #menus .menu1 .last {background:none; padding-right:0; }
  #menus .menu2 {width:100%; clear:both; padding:8px 0 0 25px; height:30px; vertical-align:middle; }
   #menus .menu2 li {display:inline;  margin-right:8px; padding-right:10px; background:url("../images/2008/bg6sep2.gif") no-repeat right; }
   #menus .menu2 .last {background:none; }

#block3 {width:742px; clear:both; overflow:hidden; }
#page {float:left; padding:0 0px; margin:0; }

#block4 {margin:20px 0; font-size:11px; }
#map {height:20px; }
#block4title {width:720px; height:30px; float:left; clear:both; margin:5px 0; background:url("../images/2008/bg9.gif") repeat-x; }
  #block4title .left {height:30px; width:5px; float:left; background:url("../images/2008/bg9left.gif") no-repeat left; padding:0; margin:0; }
  #block4title .right {height:30px; width:5px; float:right; background:url("../images/2008/bg9right.gif") no-repeat right; padding:0; margin:0; }
  #block4title .middle {height:60px; position:relative; top:-15px; left:10px; float:left; background:url("../images/2008/bg9middle.gif") no-repeat; margin:0; padding:22px 0 0 60px; color:#fff; font-variant:small-caps; font-size:13px; font-weight:bold; }
  #menu2 {margin:0;}
  #menu2 .cat {margin:0; padding:0 10px; border-top:1px solid #D0D1CF; background:url("../images/2008/bdbody-03.gif") repeat-x; clear:both; overflow:hidden; }
  #menu2 .subcat {float:left; width:135px; overflow:hidden; margin:0 10px 0 0; padding:0;}
  #menu2 .subcat2 {float:left; width:280px; overflow:hidden; margin:0 10px 0 385px; padding:0;}
  #menu2 .photocat {float:left; width:110px; overflow:hidden; margin:0 10px 0 0; padding:0; }
  #menu2 .end {clear:both; }
  #menu2 h1 {font-size:12px; color:#CC0000; font-weight:bold; margin:10px 0 12px 0; padding:0; }
  #menu2 h2 {font-size:11px; color:#000000; font-weight:bold; margin:0 0 4px 0; padding:0; }
  #menu2 a {font-size:11px; }
  #menu2 span {float:left; }
  #menu2 ul {margin:0 0 10px 17px; padding:0; list-style:url("../images/2008/li1.png"); }
  #menu2 li {margin:3px 0; }

#block5 {width:720px; clear:both; margin:5px 0 0 0; font-size:10px; font-family:verdana; height:57px; background:url("../images/2008/bg8.gif") repeat-x; }
  #block5 a {color:#fff; text-decoration:none; }
  #block5 .left {height:57px; background:url("../images/2008/bg8left.gif") no-repeat left; padding:0; margin:0; float:left; width:5px; }
  #block5 .right {height:57px; background:url("../images/2008/bg8right.gif") no-repeat right; padding:0; margin:0; float:right; width:5px; }
  #block5 .middle {color:#D6E6FA; padding:7px; text-align:center; margin:auto; }
  #block5 .middle div {padding:1px; }
  #block5 ul {padding:0; margin:0; }
  #block5 li {display:inline; margin-right:5px; padding-right:5px; background:url("../images/2008/bg8sep.gif") no-repeat right; }
  #block5 .last {margin-right:0; padding-right:0; background:none; color:red; }

#topsearch {text-align:center; color:#555; font-size:10px; }
#topsearch .box {border:1px solid #D0D1CF; font-size:12px; padding:3px 0 3px 20px; background:url("../images/2008/loupe2.gif") 2px 0px no-repeat; color:#333; font-weight:bold; }
#topsearch .ok {background-color:#ECE9D8; border:1px solid #D0D1CF; font-size:11px; height:23px; padding:2px; }


#head {clear:both; width:auto; margin:0; padding:0; }
#body {clear:both; width:auto; margin:auto; padding:auto; }

#head .thumb {float:left; margin:0 10px 10px 0; }
#head .text {width:auto; margin:auto; }
#bookmark {float:right; margin-top:10px; }
#print {float:right; width:19px; height:16px; margin-top:7px; margin-right:5px; }
#page .title {color:#CC0000; font-size:20px; font-weight:bold; }
#page .subtitle {color:#bbb; }
#page .desc {float:left; color: #555; font-weight: bold; }
#page .print {float:right; text-align:right}

#google {padding:10px 0; width:auto; clear:both; text-align:center; }

#Side a {color:#FFBB00; }
#Side .top {margin-top:30px; padding:5px; color:#CCC; font-weight:bold; font-size:12px; background:url("../images/2008/bg10top.gif") repeat-x; background-color:#333; }
#Side .block {padding:0; border-bottom:1px #000 solid; background:#000000 url("../images/2008/bg10.gif") repeat-x; overflow:hidden; }
#Side .comments {color:#CCC; padding:3px 5px 5px 5px; font-size:11px; text-align:center; }

/* BOX */
.tab1 {overflow:hidden; margin:0 0 15px 0; }
.tab1top { background-color:#C2CEDA; overflow:hidden; margin:0 1px; height:1px; }
.tab1left { border-left:1px solid #C2CEDA; border-right:1px solid #D0D1CF; overflow:hidden; }
.tab1title { background-color:#F3F3F3; padding:3px 5px 3px 10px; margin-bottom:1px; }
.tab1more {float:right; width:11px; height:11px; margin:2px 5px 0 0; background:url("../images/2008/bdtitlemore-03.gif") no-repeat; }
.tab1title a { color:#CC0000; text-decoration:none; font-weight:bold; }
.tab1body { padding:0 10px; margin-top:1px; border-top:1px solid #D0D1CF; background:url("../images/2008/bdbody-03.gif") repeat-x; }
.tab1body a {text-decoration:none; color:#00A; }
.tab1body a:hover {text-decoration: underline ; color:#CB0000; }
.tab1body p {margin:12px 0; clear:both; }
.tab1body h1 {margin:10px 0; padding:0; font-weight:bold; font-size:12px; }
.tab1body ul {margin:0 0 0 15px; padding:0; list-style:url("../images/2008/li1.png"); }
.tab1body li {margin:3px 0; }
.tab1right {margin:5px 0; text-align:right; }
.tab1right a {font-weight:bold; color:#000; font-size:11px; }

.tab2 {margin:0 0 15px 0; background:url("../images/2008/bg7.gif") repeat-x 0 0; border:1px solid #C2CEDA; padding:10px; height:90px; }

.tab3 {padding:5px; margin:0px; border:1px solid #D1D6E6; background:url("../images/2008/bdbody-04.gif") no-repeat 1px 0px; clear:both; overflow:hidden; }
.tab3title {margin:8px; font-weight:bold; }
.tab3title a {float:right; color:#c00; font-size:10px; font-weight:normal; }

.menuphotos {float:right; text-align:right; width:110px; margin:2px 0 0 2px; }
.menuimg {border:#D0D1CF 1px solid; background-color:#fff; padding:4px; }
.menucom {margin:4px 0; font-size:11px; height:16px; padding: 0 22px 0 0; background:url("../images/2008/loupe.gif")  no-repeat right; }
.menucom a {position:relative; top:2px; }

/* PAGES */
.page1 {width:auto; clear:both; margin:5px 0; font-family: arial; }
.page1thumb {float:left; margin:0 10px 10px 0; }
.page1text {width:auto; margin:auto; }
.page1title a {color:#009; font-weight: bold; font-size: 12px; }
.page1subtitle {color:#aaa; font-size: 11px; }
.page1desc {font-size: 11px; padding: 0 0 15px 0; }

.page2 { padding:0 0 0 15px; background:url("../images/2008/li2.gif") 2px 2px no-repeat; margin: 2px 0 3px 15px; font-weight:normal; }
.page2 a { color:#555; }

.page3 {width:auto; clear:both; margin:5px 0 10px 0; font-family: arial; text-align:right; }
.page3thumb {float:right; margin:0 0 10px 10px; }
.page3text {width:auto; margin:auto; }
.page3title a {color:#CC0000; font-weight: bold; font-size: 12px; }
.page3subtitle {color:#aaa; font-size: 11px; }
.page3desc {font-size: 11px; padding: 0 0 15px 0; }

.page4 {}
.page4 span {color:#aaa; font-style:italic; font-size:10px; position:relative; top:-1px; }
.page4 a {color:#555; font-size: 11px; font-style:normal; font-weight:bold; }

.page5 {text-align:center; margin:10px 0; }
.page5thumb {margin:5px 0; }
.page5title a {color:#000; font-size:11px; font-weight:bold; }

.page6p {clear:both; padding:0; margin: 0; overflow:hidden; }
.page6 {float:left; width:126px; margin:0 10px; padding:2px; overflow:hidden; text-align:left; }
.page6img {border:1px solid #D0D1CF; background-color:#fff; padding:2px; }
.page6img img {margin:0; padding:0; }
.page6title {margin:5px 0 0 0; font-size:11px;  }
.page6 a {text-decoration:none; color:#009; font-weight:normal; }
.page6 a:hover {text-decoration:underline; color:#c00; }

.title1 {color:#CC0000; font-weight: bold; font-family: Verdana; font-size: 8pt ;font-variant:small-caps; margin: 5px 0; }
.title2 { background-color:#f7f7f7; padding: 0px 10px; margin: 10px 0px; text-align:left }
.title2 span { background-color:#fff; color:#bbb; font-weight: bold; font-family: Arial; font-variant:small-caps; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 0px 5px }

.border {background-color:#FFEC6F; border: 1px solid #CECFCE; padding: 10px; clear:both; margin-bottom:10px; overflow:hidden; }
.border2 { background-color:#DDDCFF; border:#ccc 1px solid; padding: 10px;}
.bg1 {background-image: url('../images/ge_bg1.gif'); background-repeat: repeat-y; padding: 8px; width:184px; overflow:hidden; }
.bg2 {background-image: url('../images/ge_bg2.gif'); background-repeat: repeat-y; padding: 8px; width:184px; overflow:hidden; }
.bg2b {background-image: url('../images/ge_bg2.gif'); background-repeat: repeat-y; padding: 8px; border: 1px solid #ddd; width:184px; overflow:hidden; }
.borderRight {float:right; margin:0px 0px 10px 20px; padding:0px 0px 10px 20px; width:260px; background: #fff url('../images/cn_ptv.gif') repeat-y top left;}

.formText {color:#000000; font-family:Arial; font-size:8pt;}
.formButton {color:#000000; font-family:Arial; font-size:8pt; }

/* FORUM */
.CLPTd {border-bottom:#EFEFEF 1px dotted; padding:4px 10px 4px 0; font-size:12px; }
.CLPTd a {text-decoration:underline; }

/* CC */
.cc120 {}
.cc120 ul {clear:both; margin:10px 0 5px 25px; padding:0; overflow:hidden; }
.cc120 li {display:inline; float:left; width:126px; overflow:hidden; text-align:left; }
.cc120 .liA {padding:0;}
.cc120 .liB {padding:0 0 0 25px;}
.cc120 .ccImg {border:1px solid #D0D1CF; background-color:#fff; width:120px; height:80px; padding:2px; }
.cc120 .ccImg img {margin:0; padding:0; width:120px; height:80px; }
.cc120 .ccTitle {margin:5px 0 0 0; font-size:11px; }
.cc120 a {text-decoration:none; color:#009; font-weight:normal; }
.cc120 a:hover {text-decoration:underline; color:#c00; }

.cc80 {}
.cc80 ul {clear:both; margin:15px 0 5px 8px; padding:0; overflow:hidden; }
.cc80 li {display:inline; float:left; width:86px; overflow:hidden; text-align:left; }
.cc80 .liA {padding:0;}
.cc80 .liB {padding:0 0 0 8px;}
.cc80 .ccImg {border:1px solid #D0D1CF; background-color:#fff; width:80px; height:53px; padding:2px; }
.cc80 .ccImg img {margin:0; padding:0; width:80px; height:53px; }
.cc80 .ccTitle {margin:5px 0 0 0; font-size:11px; }
.cc80 a {text-decoration:none; color:#009; font-weight:normal; }
.cc80 a:hover {text-decoration:underline; color:#c00; }

#ccQuid {background:url('../documents/misc/quid.gif'); width:200px; height:60px; padding:0px; clear:both; }
#ccQuid a {margin:30px 0 0 63px; float:left; font-weight:bold; font-size:11px; }
#ccQuidL ul {clear:both; margin:15px 0 5px 8px; padding:0; overflow:hidden; }
#ccQuidL li {display:inline; float:left; width:56px; overflow:hidden; text-align:left; }
#ccQuidL .liA {padding:0;}
#ccQuidL .liB {padding:0 0 0 3px;}
#ccQuidL .ccImg {border:1px solid #D0D1CF; background-color:#fff; width:50px; height:33px; padding:2px; }
#ccQuidL .ccImg img {margin:0; padding:0; width:50px; height:33px; }
#ccQuidL .ccTitle {margin:5px 0 0 0; font-size:11px; }
#ccQuidL a {text-decoration:none; color:#009; font-weight:normal; }
#ccQuidL a:hover {text-decoration:underline; color:#c00; }