body { background: #ddd; margin: 10px; font-family: arial, simsun; font-size: 12px; text-align:center; }
td { color: #000; font-size: 12px; }
a { color: #008; } a:hover { COLOR: #888; }
form{margin:0px}
img{border-width:0px}

#Frame{width:820px; background: #fff; margin:auto; padding:15px; border:1px solid #6B696B; text-align:left; }
#Level1{margin:0 0 10px 0; }
#Level2{width:820px; margin:auto; padding:3px 0px 0px 0px; background-color:#356BB3; background:url('https://www.chinese-tools.com/jdd/public/images/en_bg2L1.gif');}
#Level3{}
#Level4{}
#Logo{}
#Top{padding:0px 0px 15px 20px; text-align:right}
#SubL1{margin:auto; padding:7px; background-color:#356BB3; background:url('https://www.chinese-tools.com/jdd/public/images/en_bg2L2.gif');}
#SubL2{margin:auto; padding:10px 7px; }
#Page{width:818px; padding:0px; }
#Left{width:150px; background-color:#fff; }
#Leftinclude{margin:10px 0px; text-align:center; }
#Left2include{margin:10px 0 0 0; padding:5px; background-color:#EDEDED; border-top:1px solid #DDD;}
#Leftmenu{background-color:#fff}
#Leftbottom{height:76px; background:url('https://www.chinese-tools.com/jdd/public/images/en_bgL.gif'); background-repeat:repeat-x; background-position: bottom;}
#Pagehead{padding:0px 0px 15px 0px; }
#Pagebody{}
#Bottom{margin:20px 0px 0px 0px; height:57px; background:url('https://www.chinese-tools.com/jdd/public/images/en_bobg2.gif');}
#Bottomtext{text-align:center; color:#D6E6FA; font-size:10px; font-family:verdana; }
#Bottom2{margin:10px 0px}

#printLogo{text-align:center}
#printPage{}

.menu1{color:#fff; font-size:13px; font-family: arial; font-weight:bold; font-variant:small-caps; padding:0px 20px 0px 0px }
.menu1a{color:#fff; text-decoration:none}
.menu2Title{color:#fff; font-weight: bold; font-size: 11px; margin:10px 0px 0px 0px; padding: 3px 3px 3px 6px; border-bottom:1px solid #2C5997; background-color:#2E5EAB; background:url('https://www.chinese-tools.com/jdd/public/images/en_bgM2.gif'); }
.menu2Link { padding: 3px; background-color:#F6F6F6; border:1px solid #EFEFEF; border-top:0px }
.menu2LinkA {font-size:11px; font-weight:normal; text-decoration:none; color:#555; }
.li4{margin:0px 6px 0px 0px; width:4px; height:10px}
.li5{margin:0px 6px 0px 0px; width:4px; height:10px}
.li6{margin:2px 6px 0px 0px; float:left}
.li7{margin:0px 6px 0px 0px}
.bottomLink{color:#fff; text-decoration:none }

.pageTitle { color:#B50000; font-size:20px; font-weight:bold; }
.pageSubtitle { background-color:#f7f7f7; padding: 0px 10px; margin: 10px 0px; text-align:left }
.pageSubtitleIn { background-color:#fff; color:#bbb; font-weight: bold; font-family: Arial; font-variant:small-caps; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding: 0px 5px }
.pageShortdesc { color: #555; font-weight: bold; }
.pageImage {margin:0px 10px 0px 0px; }
.pagePrint {float:right; text-align:right}

.page1Title { color:#356AB4; font-weight: bold; font-size: 11px; }
.page1Subtitle { color:#aaa; font-size: 10px; }
.page1Shortdesc {font-size: 11px; padding:0 0 15px 0; }
.page2{margin: 2px 0px 3px 15px}
.page2Title { color:#555; font-weight: normal; }
.page3Title { color:#B50000; font-weight: bold; font-size: 10px; font-family: Verdana; }
.page3Subtitle { color:#aaa; font-size: 10px; }
.page3Shortdesc { color:#888; font-size: 11px; }
.page4{margin:0 0 3px 0; }
.page4Title {color:#555; font-size: 12px; }
.page4Subtitle {color:#aaa; font-style:italic; font-size:10px; }

.title1 { color:#B50000; font-weight: bold; font-family: Verdana; font-size: 8pt ;font-variant:small-caps; margin: 5 0 }

.formText {color:#000000; font-family:Verdana; font-size:8pt;}
.formButton {FONT-FAMILY: Arial; FONT-SIZE: 11px; COLOR: #000000}


#ClubSearchForm{margin:10px 0 0 0; }
#ClubSearchForm form{margin:0px; }
.CSFBox{color:#000; border-bottom:1px solid #FFDF5D; padding:0px; margin:0px; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubbg2.gif') no-repeat; }
.CSFTitle{font-size:12px; margin:10px; font-weight:bold; }
.CSFfield{font-weight:bold; margin:15px 10px; }
.CSFselect{font-size:11px; width:178px; }

#ClubSearchResults{}
.CSRResults{text-align:center; font-weight:bold; margin:10px; }
.CSRPages{margin:10px 0; text-align:right; font-size:11px; }
.CSRPagesCurrent{font-weight:bold; padding:2px 3px 2px 2px; width:18px; height:20px; text-align:center; margin:2px; border:1px solid #fff; }
.CSRPagesLink{color:#006699; text-decoration:none; padding:2px 3px 2px 2px; width:18px; height:20px; border:1px solid #ccc; margin:2px; text-align:center; }
.CSRPagesLink:hover {color:#fff; border-color:#000; background-color:#0098D4; }
.CSRPagesLinkPN{color:#006699; text-decoration:none; padding:1px 2px 3px 4px; width:20px; height:20px; text-align:center; margin:2px; }
.CSRPagesLinkPN:hover {color:#fff; border:1px solid #000; background-color:#0098D4; }
.CSRTdTop{border-bottom:#CCCCCC 1px solid; padding:5px; font-size:12px; color:#8B8B8B; font-weight:bold; }
.CSRTd{border-bottom:#CCCCCC 1px solid; padding:5px; font-size:12px; }
.CSRTd2{border-bottom:#CCCCCC 1px solid; border-right:#CCCCCC 1px dotted; padding:5px; font-size:12px; }

#ClubLocationResults{}
.CLRBread{margin:10px 0 10px 0; border:1px solid #efefef; background-color:#f7f7f7; padding:4px 8px; }
.CLRCountry{width:180px; margin:0 10px 3px 0; float:left; }
.CLRCountryImg{float:left; margin:0 10px 0 10px; }
.CLRCountryName{}
.CLRCountryN{}
.CLRCountryCities{width:550px; }
.CLRCityName{}
.CLRCityN{}

#ClubIntroLeft { margin:10px 0 0 0; padding:10px; color:#000; font-size:12px; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-left.gif') no-repeat; height:80px; width:180px; }
#CILInfo { margin: 0px; padding:0 0 0 30px; }
#CILRegister { margin:8px 0 0 40px; }

#ClubIntro {margin:10px 0; padding:0p; color:#fff; font-weight:bold; height:100px; width:600px; clear:both; }
.CIfr { background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-fr.gif') no-repeat; }
.CIen { background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-en.gif') no-repeat; }
.CIes { background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-es.gif') no-repeat; }
.CIpt { background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-pt.gif') no-repeat; }
.CIde { background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-de.gif') no-repeat; }
.CIit { background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubintro-it.gif') no-repeat; }
.CIInner {padding:80px 0 0 200px; }

#ClubLastProfile{width:200px;}
.CLPBox{width:200px; color:#000; border-bottom:1px solid #EFEFEF; padding:0px; margin:0px 0 0 0; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubbg3.gif') no-repeat; }
.CLPTitle{font-size:12px; margin:10px; font-weight:bold; }
.CLPTd {border-top:#EFEFEF 1px dotted; padding:4px 4px 4px 10px; font-size:12px; }

#ClubLastMessage{width:380px; text-align:left; }
.CLMBox{width:380px; color:#000; border-bottom:1px solid #EFEFEF; padding:0px; margin:0px 0 0 0; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubbg3l.gif') no-repeat; }
.CLMTitle{font-size:12px; margin:10px; font-weight:bold; }
.CLMTd {border-top:#EFEFEF 1px dotted; padding:4px 4px 4px 10px; font-size:12px; }

#ClubTopCity{width:200px;}
.CTCBox{width:200px; color:#000; border-bottom:1px solid #EFEFEF; padding:0px; margin:0px 0 0 0; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubbg3.gif') no-repeat; }
.CTCTitle{font-size:12px; margin:10px; font-weight:bold; }
.CTCTd {border-top:#EFEFEF 1px dotted; padding:4px 4px 4px 10px; font-size:12px; height:25px; }

#ClubOptions {margin:10px 0; }

#ClubOptionClub{
	padding:5px 0 0 40px; margin:0 0 10px 0;
	background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/club-bigicon-club.gif') no-repeat; }

#ClubOptionSearch{
	padding:5px 0 0 40px; margin:0 0 10px 0;
	background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/club-bigicon-search.gif') no-repeat; }

#ClubOptionMail{
	padding:5px 0 0 40px; margin:0 0 10px 0;
	background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/club-bigicon-mail.gif') no-repeat; }
	
#ClubOptionForum{
	padding:5px 0 0 40px; margin:0 0 10px 0;
	background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/club-bigicon-forum.gif') no-repeat; }

#ClubForumList {width:380px; text-align:left; }
.CFLBox{width:380px; color:#000; border-bottom:1px solid #EFEFEF; padding:0px; margin:0px 0 0 0; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/clubbg3l.gif') no-repeat; }
.CFLTitle{font-size:12px; margin:10px; font-weight:bold; }
.CFLBody {
	background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/club-arrow-green.gif') 10px 2px no-repeat;
	border-top:#EFEFEF 1px dotted; padding:4px 4px 4px 40px; font-size:12px; }
.CFLBody select{width:330px; }

#PhorumUserArea { width:470px;}
#PhorumUserArea a { color:#565656; font-weight:bold; text-decoration:none; font-variant:small-caps; }
#PhorumUserArea a:hover{color:#000; text-decoration:underline; }
.PhorumUserAreaL { width:16px; height:32px; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/bg1bl.gif') no-repeat #ECECEC;}
.PhorumUserAreaR { width:16px; height:32px; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/bg1br.gif') no-repeat #ECECEC;}
.PhorumUserAreaM { height:32px; background:#ECECEC;  }
.PhorumUserAreaS { color:#D8D3D8; padding:0px 5px; }
.PhorumUserAreaInputText {font-size:11px; width:100px; }
.PhorumUserAreaInputSubmit {font-size:11px; }
.PhorumUserAreaNewPM { font-weight:bold; color:#f00; font-size:10px; padding:0 0 0 5px; }

.PUAMenu {}
.PUAname {font-weight:bold; padding:3px 0px 3px 0px; margin:auto; }
.PUAprofile {font-weight:bold; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/ccprofile.gif') left 3px no-repeat; padding:3px 0px 3px 20px; margin:auto; }
.PUAmessages {font-weight:bold; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/ccmessages.gif') left 3px no-repeat; padding:3px 0px 3px 20px; margin:auto; }
.PUAquit {font-weight:bold; background:url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/ccquit.gif') left 3px no-repeat; padding:3px 0px 3px 20px; margin:auto; }

#PhorumTopMenu {width:130px; text-align:left; padding:0px; }
#PhorumTopMenu li {margin:2px 0 0 0; padding:0 0 0 0; list-style-image: url('https://www.chinese-tools.com/jdd/phorum/templates/ctdefault/images/li1.gif'); }
#PhorumTopMenu a {color:#000; font-weight:bold; font-size:10px; text-decoration:none; position:relative; top:-2px;}