.travelH1{font-size:20px; font-family: "Lucida Grande", Arial, sans-serif; color:#4397EF;FFB500; padding:0px; margin:0px 0px 20px 0px }
.travelH2{margin:0px 0px 10px 0px; padding:0px 0px 0px 15px; font-size:12px; color:#616A74; font-weight:bold; background: #fff url("https://www.chinese-tools.com/jdd/public/documents/design/bullet-arrow-green.gif") no-repeat 0px center; }
.travelH2{margin:0px 0px 20px 0px; padding:0px 0px 0px 20px; font-size:12px; color:#616A74; font-weight:bold; background: #fff url("https://www.chinese-tools.com/jdd/public/documents/travel/li.gif") no-repeat 0px center; }
.travelP{margin:20px 0px 30px 0px; padding:0px 0px 0px 20px; color:#333; }
.travelImgTitle{margin:0px 0px 20px 0px}
.travelT1L{width:100px; font-size:12px}
.travelT1R{width:100px; font-size:12px; font-weight:bold}
.travelInfo{padding:10px; height:90px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', GradientType=0, startColorstr=#F6F6F6, endColorstr=#FFFFFF); border-top:1px solid #E6E6E6;}
.travelPrice{font-weight:bold; font-size:12px; color:#E00}
.travelUl{margin:20px; font-size:12px}
.travelBorder{border:1px solid #FFDF5D; padding:5px; background-color:#FFFBC7;}
.articleCommentBox{border:1px solid #ddd; background-color:#efefef; padding:0px 10px; margin:10px 10px; width:270px}
.articleCommentBox2{border:1px solid #ddd; background-color:#efefef; padding:10px; margin:10px 0px; width:250px}
.articleCommentTitle{font-weight:bold; margin:10px 0px}
.travelDayDiv{margin:5px 0px; padding:0px 0px 0px 20px}
.travelDD{margin:30px 0px; font-size:13px; font-family:Arial}
.travelDDday{font-weight:bold; color:red}
.travelDDtitle{font-weight:bold;}
.travelDDimageL{width:130px; float:left; margin:0px 10px 10px 0px; border:1px solid #000}
.travelDDimageR{width:130px; float:right; margin:0px 0px 10px 10px; border:1px solid #000}