
/*  INDEX */
/* 1. MAIN


/*  ***** */
/*  MAIN */
/*  *****  */

h1,h2,h3,h4,h5,h6,a{
font-family: Monaco;

}
a{
    color: #85888b;
}
.black{
    color: #46484a;
}
.grey{
    color: #85888b;
}
.brackgroundGrey{
    
}

ul li {
      list-style:none; /* if you’re not already using a reset */
      font-family: monaco; 
    font-size: 16px;
     color: #7e7e7e;
  }
  
 
  ul #myNoteList:before {
    
    color:#17ffff; /* set color to red */
    content:"\25AA"; /* /2022 is the numerical unicode for &bull; */
    font-size:4.3em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
    padding-right:17px; /* give the bullet some padding from the text Make sure to use em*/
    position:relative;
      top:.25em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
  }
  button{
      font-family: monaco;
      color: #7e7e7e;
      padding: .5em;
  }
  .buttonNote{
    float: right;
    margin-top: 10px;
    

  }

  /* My JOURNAL */
 /* Submit a note */
  .note{
    border: 1px solid #b2b1b1;
      padding-right: 3em ;
      padding-left: 3em ;
      padding-top: 1em;
      padding-bottom: 4.5em;
  }
  .addNoteInput{

    padding-bottom: ;
  }
  textarea::placeholder {
    
   
    color:#85888b;  

    font-family: monaco;
    font-size: 17px;
  }
  textarea-autosize{
   
    
    font-family: monaco;
   
  }
  textarea{
    width:100%;
  }
  
  input,
textarea,
[contenteditable] {
  caret-color: #34fffe;

  
}
.deleteNote{
  
}

/* END */

/* Submit Vocab */
.addVocab{
    border: 3px solid #ffdce4;
    padding-top: 30px;
   /* padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;*/
    margin-bottom: 40px;
   
    right: 10px;
    height: 150px;
  
}
.vocabularyImage{
    max-height: 75px;
    margin-bottom: 80px;
}
.vocabularyInput{
   
    float: left;
    width: 80%;
   
    right: 20px;
    background: #ffdce4;
    border: none;
    text-align: center;
}
.colVocab textarea::placeholder {
    
   
    color:#85888b;  

    font-family: monaco;
    font-size: 40px;
    text-align: center;
  }


/* END */
/* Displaying vocab */
.displayingVocab{
    font-size:50px;
    text-align: center;
 /*position: relative;*/
 right: 50px;

  
}
.vocabRow{
    border: 1px solid #9c9b9b;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 150px;
    font-family: monaco;

    
}
/*END */ 

/* CARROUSEL*/  

.card-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px;
    color: #666a73;
  }
  .card-carousel {
    /*display: flex;*/
    justify-content: center;
    width: 89%;
  }
  .card-carousel--overflow-container {
    overflow: hidden;
  }
  .card-carousel--nav__left, .card-carousel--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid #42b883;
    border-right: 2px solid #42b883;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 150ms linear;
  }
  .card-carousel--nav__left[disabled], .card-carousel--nav__right[disabled] {
    opacity: 0.2;
    border-color: black;
  }
  .card-carousel--nav__left {
    transform: rotate(-135deg);
  }
  .card-carousel--nav__left:active {
    transform: rotate(-135deg) scale(0.9);
  }
  .card-carousel--nav__right {
    transform: rotate(45deg);
  }
  .card-carousel--nav__right:active {
    transform: rotate(45deg) scale(0.9);
  }
  .card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);
  }
  .card-carousel-cards .card-carousel--card {
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 rgba(40, 44, 53, .06), 0 2px 2px 0 rgba(40, 44, 53, .08);
    background-color: #fff;
    border-radius: 4px;
    z-index: 3;
    border: 0.7px #6b6a6a solid;
    margin-bottom: 2px;
  }
  .card-carousel-cards .card-carousel--card:first-child {
    margin-left: 0;
  }
  .card-carousel-cards .card-carousel--card:last-child {
    margin-right: 0;
  }
  .card-carousel-cards .card-carousel--card img {
    vertical-align: bottom;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: opacity 150ms linear;
    user-select: none;
    width: 300px;
  }
  .card-carousel-cards .card-carousel--card img:hover {
    opacity: 0.5;
  }
  .card-carousel-cards .card-carousel--card--footer {
    border-top: 0;
    padding: 7px 15px;
    text-align: center;
    color: black;
    padding-top: 15%;
    font-size: 2.2em;
    font-family: Monaco;
  }
  .card-carousel-cards .card-carousel--card--footer a{
      color: black;
  }
  .card-carousel-cards .card-carousel--card--footer p {
    padding: 3px 0;
    margin: 0;
    margin-bottom: 2px;
   
  
    font-weight: 500;
    width: 300px;
    color: #2c3e50;
    user-select: none;
  }
  .card-image-background{
    width: 300px;
    height: 300px;
    text-align: center;
    
  }
  .card-image-background img{
      max-width: 110px;
      padding-top: 60px;
  }
  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2) {
    font-size: 12px;
    font-weight: 300;
    padding: 6px;
    background: rgba(40, 44, 53, .06);
    display: inline-block;
    position: relative;
    margin-left: 4px;
    color: #666a73;
  }
  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent rgba(40, 44, 53, .06) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }
  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):after {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 0px 0px #004977;
  }
/* END CARROUSEL*/  