<template>
  <div id="app">
        <Navbar />
    <router-view/>
     
   <div>TEST</div>

  </div>
</template>

<script>
import ChineseEditor from '@/components/editor/ChineseEditor.vue'
import Navbar from '@/components/layout/Navbar'
import Chart2 from '@/components/chart/Chart2'
import Footer from '@/components/layout/Footer'
import editor from 'vue2-medium-editor'
import Carousel1 from '@/components/carousel/Carousel1'
export default {
  name: 'App',
  components:{
     ChineseEditor,
Navbar,
Footer,
Carousel1,
Chart2,
'medium-editor': editor
  },
  data(){
    return{
      testDate:null,
      arrayGlobal:[{1:'je'}]
    }
  },
  created(){
    console.log('testtttttttTYTTTTT')
  console.log(this.navTest)
  }
}

</script>

<style>

</style>
